[2014-03-25 02:07] jfgorski opened #1 "Full nanomsg API support."
Do you plan on supporting the rest of the nanomsg API?

[2014-03-28 05:02] willglaub opened #4 "npm install nanomsg fails now"
I installed nanomsg 0.0.0 several days ago on a machine and it worked.  There have been recent commits to the package so I attempted to upgrade to 0.2.0, but it doesn't install via npm correctly on that machine or a fresh machine.  I am on Ubuntu 12.04 64bit.  It fails during the add-on layer shim portion of the make script.  Here is the terminal log with error messages:

[2014-04-03 00:20] blowback opened #10 "The proposed ipc.js test does not test multiple binds on same endpoint"
This is because multiple binds on the same endpoint is not a failure condition when using the IPC transport.

Therefore, we cannot elicit the necessary failure to make the test pass, so it has been elided.

[2014-04-03 00:25] blowback opened #11 "The proposed tcp.js test does not test multiple binds on same endpoint"
This is because the TCP transport signals SIGABRT when a multiple bind is attempted, which as far as I am aware cannot be usefully trapped in a node test harness*.

The inproc.js test _does_ test for this failure condition, but this is possible because libnanomsg's INPROC transport returns an error, rather than aborting.

In other words, it is an inconsistency in libnanomsg transport implementions

[2014-04-03 01:51] blowback opened #12 "send() does not return number of bytes in message"
_nn_send(3): "If the function succeeds, the number of bytes in the message is returned"_

Trivial fix and test case in #9

[2014-04-03 03:29] #12 closed, assigned to nobody

[2014-04-03 03:33] #1 closed, assigned to nobody

[2014-04-03 18:57] tcr opened #14 "[vanity api] Include a .survey method"
Proposing this as an idea, though I haven't thought it through too much. A .survey method for surveyor sockets could collect values and return them at once. A .surveyStream method could create a stream that emits buffers of responses, then closes when the timeout occurs.

Example code:

[code]

[2014-04-03 18:59] tcr opened #15 "Support "raw" socket type in createSocket constructor"
I'll create a PR for this shortly:

[code]

[2014-04-03 21:56] blowback opened #16 "can't call any nanomsg methods after nn_term()"
In libnanomsg's world, calling nn_term() is pretty final, it shuts down all the sockets and moves the whole library into a zombie state. Subsequent nanomsg calls are liable to fail in strange and peculiar ways.

Normally this is not a problem, because calling nn_term() is called at process exit, and that's all she wrote.

However, we want to unit test the nano.term() method -- there's a test case

[2014-04-04 01:40] #4 closed, assigned to nobody

[2014-04-05 18:09] blowback opened #20 "PUB/SUB doesn't work with multiple subscribers"
Tried a minor modification of the pubsub example to use multiple subscribers, and I'm getting a random assortment of weird and undesirable outcomes, like no output at all, output from only one subscriber, or 'protocol not available' errors.

This is what I tried:

[code]

I'd expect to see three responses,  one from each of the subscribers?

[2014-04-07 16:39] #20 closed, assigned to nobody

[2014-04-08 16:21] #15 closed, assigned to nobody

[2014-04-08 18:54] #16 closed, assigned to nobody

[2014-04-17 22:45] #14 closed, assigned to nobody

[2014-04-30 17:37] jandre opened #29 "streams2 api?"
Hi,

Have you thought about a streams api for nanomsg?

I'd like to be able to implement nanomsg with some sort of backpressure support if my downstream node stuff, for example, is too busy to actually process PULL messages coming up from my nanomsg pipeline.   The EventEmitter callback-style isn't *really* ideal since I assume it will just keep accepting messages as long as I'm still listening an

[2014-05-21 15:47] pselden opened #31 "Pub/Sub on a particular topic?"
I'm having trouble subscribing/publishing to a particular socket. Whatever I do, my subscriber ends up receiving all messages.

Is this not implemented?

[code]

[2014-05-31 16:43] quinnj opened #32 "npm install nanomsg build failure"
I actually already have nanomsg built locally on my machine, is there a way to install the package and point it at my .dll?

Windows 8, 64-bit
[code]

[2014-07-23 00:16] sorenriise opened #33 "package.json missing repository reference"
The package on npmjs is not having a repository reference to the github sources code.

Looks like a missing entry in the package.json file

[2014-08-19 22:56] sorenriise opened #35 "Support dynamic linking of libnanomsg"
It looks like the node-Nanomsg is pulling its own version of the C source for nanomsg, which his a pain as the nanomsg lib is updated.

My use of Nanomsg is to integrate processes written in different languages (C, C++, JS) and I would like to stick to one version of nanomsg across my system -- hence it would be better if the lib would use the c-nanomsg version installed on the local system and bu

[2014-08-20 12:35] sorenriise opened #36 "Feature request -- async version of blocking functions"
Looks like we are missing an async version of the blocking functions.

At least "connect" would be useful with a callback function -- not sure if there are others.

[2014-12-20 20:31] mango009 opened #38 "getting double message callback on BUS socket"
Do not know if this is the problem of my code or not but I seems to be getting double messages every time I call a send on a BUS socket:

var nano = require('nanomsg'),
	argv = require('yargs').argv;

var bus = nano.socket('bus');

var addr = 'ipc:///tmp/' + argv.node;
var p1 = 'ipc:///tmp/' + argv.p1;
var p2 = 'ipc:///tmp/' + argv.p2;

console.log('binding to', addr);
bus.bind(addr);

console.log

[2015-01-20 15:29] trygve-lie opened #40 "Fail to compile with io.js"
This module currently fail to compile with io.js 1.0.x:

[code]

[2015-01-20 15:30] trygve-lie commented on #40
Ref: https://github.com/iojs/io.js/issues/456

[2015-01-20 17:41] nickdesaulniers commented on #40
Please test out nanomsg@0.3.0 and close out this issue if it looks good.

[2015-01-20 18:26] nickdesaulniers commented on #32
@quinnj was there a resolution to this issue?

[2015-01-21 09:28] trygve-lie commented on #40
Can confirm that 0.3.1 looks fine at node.js 0.10.35 and iojs 1.0.3 on ubuntu.

[2015-01-21 09:28] #40 closed

[2015-02-17 18:13] nickdesaulniers commented on #38
indeed, if I run the test case:

[code]
`node test.js n0 n1` and `node test.js n1 n0` I do receive the message twice!  We will have to figure out if we're sending twice, or firing onmessage twice.

[2015-02-17 18:15] #33 closed

[2015-02-18 20:31] comick commented on #36
I'm currently working on async bind and connect. https://github.com/comick/node-nanomsg/tree/async
Maybe we can discuss here which features it should have.

[2015-02-18 21:02] nickdesaulniers commented on #36
@comick , if you make the function signatures variadic, we can avoid making breaking API changes:
ex.

changing the currently sync:
[code]
to be async:
[code]
and providing a sync method:
[code]

means that consumers of the `bind` API today will have breaking changes.  This could be fixed by a major version increment.

Or:

we could avoid that by checking the length of args and calling the sync ve

[2015-02-18 22:41] comick commented on #36
With your proposed solution if a callback is given as second argument `undefined` is returned and callback is called at some point. Without the second argument instead the call will be implicitly sync.

Being sync or async is such a deep difference to make it dependent of how a function is called.
Node core for example have different versions for sync and async io functions.
Also zmq bindings for

[2015-02-18 22:44] nickdesaulniers commented on #36
or, we could make the breaking changes, have a major version bump, check the length of arguments and assert that the typeof the callback arg is a function, else print a deprecation warning and call the sync version on their behalf. or throw.

[2015-02-18 22:46] comick commented on #36
With your proposed solution if a callback is given as second argument `undefined` is returned and callback is called at some point. Without the second argument instead the call will be implicitly sync.

It's correct that api would break without this solution. A major version increment would also make sense in this case. nanomsg today should not be used in production, I don't see risks here.
A depr

[2015-02-18 23:25] nickdesaulniers commented on #36
I believe this library to be production ready.  @tcr 's company is using it.

[2015-02-19 04:33] reqshark commented on #36
two interesting points raised by the discussion here. I would address each as follows:
* this library is production ready. we are starting to use it my company
* both `nn_connect()` and `nn_bind()` each are synchronous c library operations. wrapping an async javascript function on top seems excessive.

[2015-02-19 08:51] comick commented on #36
On the first point, that's a fact, nothing to say :).
On the second point, you are right, but synchrounous is not a good idea in node. It takes some time and in the meanwhile you r processing is locked. Also, after your callback is called and no error is reported, at that point it makes sense to start your logic (send/receive).

Another option is to have `bind` with current behaviour and add `bind

[2015-02-19 18:54] mdda opened #44 "Asynchronous REPREQ"
I came across this thread that addresses this issue at the library level :
http://nanomsg.freelists.narkive.com/UpDQxh1T/asynchronous-repreq

which starts with the question :
"""
Say I get a request that I can't fulfill until data becomes available a few
seconds later. I'd like the worker to be able to hold onto the request and
process others in the meantime. The worker then might get triggered vi

[2015-02-19 19:01] nickdesaulniers commented on #44
I would think you'd still want to keep the req/rep pattern.  If you know that you could potentially have significantly large processing times for requests, maybe you should have additional workers in the pool to handle additional requests; additional memory requirements not withstanding.  This is a good question that I probably don't have the right answer for, but I get the feeling the answer migh

[2015-02-19 19:14] reqshark commented on #44
consider proxing `xreq/xrep` sockets around your `req/reps`.  before issuing your forwarding, at some point on either `req` or `rep` response side, pull workers at the proxy must complete the task.

btw check out the task.h file [in this directory](https://github.com/nanomsg/nanomsg/tree/master/src/protocols/reqrep), that's interesting

[2015-02-19 19:17] nickdesaulniers commented on #44
Also, might be a good question for the devs on IRC.
IRC chatroom: channel #nanomsg at irc.freenode.net/8001

[2015-02-19 19:20] nickdesaulniers commented on #44
@reqshark is there documentation on xreq/xreq?

[2015-02-19 19:22] reqshark commented on #44
not to my knowledge.. you know we ought to add those socket types here and start playing around with them!

should i do that PR?

[2015-02-19 19:23] nickdesaulniers commented on #44
yeah or work on merging nanomsg.iojs ;)

[2015-02-19 19:25] reqshark commented on #44
hehe, ya that'd be cool, at least maybe the setsockopt api..

[2015-02-19 19:28] nickdesaulniers commented on #44
@reqshark hop on irc.mozilla.org, my handle is `\n`

[2015-02-19 19:54] reqshark commented on #44
@nickdesaulniers i'm there, my handle is `reqshark`

[2015-02-19 21:50] nickdesaulniers commented on #36
Maybe if we had a benchmark showing the throughput gains to be had by switching to async, this would be a no-brainer.

[2015-02-19 21:51] nickdesaulniers opened #45 "merge nanomsg.iojs"
Looking to adopt some of the API changes from nanomsg.iojs and possibly custom event model.  cc @reqshark see also https://github.com/reqshark/nanomsg.iojs/issues/19

@reqshark you now have commit bits.  For anything that changes existing APIs, let's use PRs and code reviews, but otherwise feel free to commit to master for smaller changes.

[2015-02-19 22:45] reqshark commented on #45
:+1: awesome, PRs in the works!

[2015-02-20 18:00] reqshark opened #47 "buffer error: kMaxLength"
running the test suite on osx and linux i get a buffer triggered assertion crap out on [`survey.js`](https://github.com/nickdesaulniers/node-nanomsg/blob/master/test/survey.js).

also wondering why tape is zero for zero when `t.plan(4)` :

[code]

[2015-02-20 19:15] nickdesaulniers commented on #47
From current master c476019 or with #46 applied?

[2015-02-20 19:30] reqshark commented on #47
its on current master, and it's not a timeout, but scroll up to the results on to see survey.js after you get:

[code]

[2015-02-20 19:52] nickdesaulniers commented on #47
[code]

[2015-02-20 20:05] reqshark commented on #47
dont see the assertion error on node 10.. using osx yosemite. still `0/0`, but silent as to why

linux assertion error is different, points at `node::Environment*`, whereas i'm not seeing that on yosemite.

linux:
[code]

is `darwin 10.8.5` is that much different?

[2015-02-20 22:41] nickdesaulniers opened #48 "can't build in node 0.12"

[2015-02-20 22:46] nickdesaulniers commented on #47
If I upgrade to node v0.12.0 from v0.10.26 I see this.

[code]

[2015-02-20 22:48] nickdesaulniers commented on #48
no, just need to rebuild when switching versions of node using nvm.

[2015-02-20 22:48] #48 closed

[2015-02-20 22:50] nickdesaulniers commented on #47
I wonder where `node_buffer.cc` is?

[2015-02-20 22:52] nickdesaulniers opened #49 "clean up deprecation warnings"
[code]

[2015-02-20 22:54] nickdesaulniers commented on #49
These are in tap, but updating tap to 0.6.0 doesn't remove the deprecation warnings???

[2015-02-20 23:04] nickdesaulniers commented on #47
Also, I bet we shouldn't be using uint32's somewhere:
https://github.com/joyent/node/issues/4331

[2015-02-20 23:05] nickdesaulniers commented on #47
node_buffer.cc: https://github.com/joyent/node/blob/master/src/node_buffer.cc#L145

[2015-02-20 23:08] nickdesaulniers commented on #47
@trevnorris, any idea how I should go about debugging this?  Should I try to get a stack trace from an assertion?

I should be able to run that one test individually with `./node_modules/.bin/tapr test/survey.js`.

[2015-02-20 23:20] nickdesaulniers commented on #47
It's definitely this line that is triggering it: https://github.com/nickdesaulniers/node-nanomsg/blob/1620d3b60df1f9635169308405f2d1e4cf13464f/lib/index.js#L134

[2015-02-20 23:23] nickdesaulniers commented on #47
it fails because `len` is -1: https://github.com/nickdesaulniers/node-nanomsg/blob/0ffb39f1a4fd4cab521a6d0cbd746b4073a57c3e/src/node_nanomsg.cc#L198

[2015-02-20 23:26] nickdesaulniers commented on #47
ah, this patch removed a necessary check https://github.com/nickdesaulniers/node-nanomsg/commit/c0336f19cd637660731f32911d1f31b09e6f7f8f

[2015-02-20 23:48] reqshark commented on #47
fixed https://github.com/nickdesaulniers/node-nanomsg/commit/c50541c58fe9260aacfe65699a020615e549f807

[2015-02-20 23:48] #47 closed

[2015-02-20 23:49] reqshark commented on #47
@nickdesaulniers good catch!

[2015-02-21 21:06] reqshark opened #50 "NN_RCVPRIO symbol not exported"
this is an issue with the `nn` binding in our javascript.

for the new `rcvprio` option function, we're having to go:

[code]

[2015-02-23 05:08] reqshark commented on #29
a wonderful idea and we ought to wholesale replace EventEmitter with the `Duplex` base class.

just get rid [the call to `emit('message')`](https://github.com/reqshark/node-nanomsg/blob/streams/lib/index.js#L149)

the API change would be like `.on('data', callback)` instead of `.on('message', callback)`

`data` is a few characters shorter than `message` so it seems easier. plus you get a node stre

[2015-02-24 18:28] nickdesaulniers opened #51 "getopt broken for nn_sub"
See the discussion here.  This needs to be fixed: https://github.com/nickdesaulniers/node-nanomsg/pull/46#discussion_r25125148

http://nanomsg.org/v0.2/nn_setsockopt.3.html
http://nanomsg.org/v0.2/nn_getsockopt.3.html

[2015-02-24 18:30] nickdesaulniers opened #52 "tests that prove new socket options work"
This will give us stronger guarantees about our new API.

[2015-02-24 18:30] nickdesaulniers commented on #45
https://github.com/reqshark/nanomsg.iojs/commit/e3b4ca7709e9e4120459bddff0ed416a0d4b3e9e

[2015-02-25 18:34] nickdesaulniers opened #54 "symbol.js tests broken"
recent work may have broken the symbol.js test and symbols.js test.  I might need @tcr 's help to debug this one.  Probably related to #50 .

[2015-02-25 18:59] nickdesaulniers commented on #50
running ` cd test && ./mksymbols.rb > symbols.js` removes NN_RCVPRIO from `test/symbols.js`.  We [parse this value](https://github.com/nickdesaulniers/node-nanomsg/blob/master/test/mksymbols.rb#L10-L17), from [here](https://github.com/nanomsg/nanomsg/blob/a1a17e12a78cca4c0b37175e0200dc2fbcc3b6be/src/core/symbol.c#L145-L146) which itself is missing definitions for NN_RCVPRIO!

[2015-02-25 19:00] nickdesaulniers commented on #50
And it's still missing in master.  This must be a bug upstream in nanomsg!

[2015-02-25 19:07] nickdesaulniers commented on #50
https://github.com/nanomsg/nanomsg/pull/375

[2015-02-25 19:13] nickdesaulniers opened #55 "why is transform and restore in a test and not in core lib?"
https://github.com/nickdesaulniers/node-nanomsg/blob/1620d3b60df1f9635169308405f2d1e4cf13464f/test/transform.js#L10-L17

@tcr ?

[2015-02-26 22:16] #50 closed

[2015-02-26 22:17] #54 closed

[2015-02-27 17:49] reqshark opened #60 "measuring performance"
@comick, thanks again for that contribution fb0b0571c6e54a21cab1b0c722e1184b1f0c5aa1 to our perf scripts today! looks great! :+1:

I think it would be nice if we could measure/compare performance of node.js strings as well as buffers.

either allowing for an additional option or maybe just adding some different scripts altogether

comparing the latency and throughput of messages against these two

[2015-02-27 18:37] reqshark commented on #36
how is this coming along: https://github.com/comick/node-nanomsg/tree/async ?

After reviewing this work on @comick's tree today, and giving this API some second thought, I believe we should get this committed asap.

please PR, and note that the callback to `bind()` and `connect()` should be optional, no need to revise current methods or add new `bindAsync()` or `connectSync()` methods:

[code]
*p

[2015-03-01 01:38] rmg commented on #49
These deprecations are indeed from an old version of tap, but it's not the version you are depending on. It's the version that tapr is pulling in, which hasn't been updated in 3 years and still lists an ancient version of tap as a dependency.

From your package.json it looks like you aren't actually using the tap module at all. You are using using tapr as a test runner but using tape as your test

[2015-03-01 20:25] comick commented on #36
```bind``` implementation is done and tests work. ```connect``` implementation is mainly a matter of copy and paste and testing.
The *optional parameter* way is not the best approach in my aponion.
Given that:
- is good for libraries to use apis which are familiar to the core apis (that is async by default and callback where first param is return value and second is error state)
- breaking existin

[2015-03-01 20:49] comick commented on #60
Makes sense to keep default pers scripts exactly the same as the nanomsg one.
Nevertheless we can ann options which are strictly related to the node module bounties.
Something like --string --buffer would make the job.

[2015-03-02 18:17] reqshark commented on #36
i dont think we should raise a warning when the callback is missing because we shouldn't enforce our way of doing things on the user.

also, having an optional callback does not, nor should it, break any existing code. As for following mainstream APIs, if our API is easier to use than something familiar that's fine.

@nickdesaulniers thoughts?

[2015-03-02 18:23] reqshark commented on #60
yes! great idea!

[2015-03-02 18:27] reqshark commented on #45
we're almost done with this

[2015-03-02 18:53] nickdesaulniers commented on #36
The one thing I'm worried about is if people might confuse the APIs, for example:

[code]

I guess if you call send on a non bound socket, we don't throw, which is sub optimal.  In the case where someone invokes bind async, we should mark the socket as async bind and error if the user calls send before being bound.

@comick , I don't want to deprecate existing APIs.  I think new developers aren't

[2015-03-02 19:06] reqshark commented on #51
right now we're subscribing to all msgs, i.e., the subscription key is an empty string.

should that choice be determined by the user?

[2015-03-02 19:28] comick commented on #36
@reqshark following the mainstream APIs is not only a matter of taste. It's all about plugging effertless into a well known world with libraries. Take as an example node libraries that promisify and depromisify. Consistency is important, specially in bigger projects.
Nevertheless, I'm going to pull request the binding part (as in @nickdesaulniers 's comment) soon.

[2015-03-03 16:49] reqshark commented on #51
@nickdesaulniers, we need to implement any socket subscription tracking at the JavaScript level.

Nanomsg was not designed to keep track of that.

And it looks like this was a deliberate choice: `nn_getsockopt()` does not return subscription lists, or anything but an err for that matter, see when this was discussed https://github.com/nanomsg/nanomsg/issues/203

[2015-03-08 17:48] asafyish opened #63 "IPv6 support"
Hi,

I am trying to connect to "tcp://[fe80::3e15:c2ff:feb9:67c2]:7777" but getting an error message.
From what I googled, it seems that nanomsg is coming with IPv6 disabled...
Because this project is using a fork of nanomsg, is it possible to enable it ?

[2015-03-08 20:26] reqshark commented on #63
you should be able to enable it with a call to `setsockopt()`

the level would be `NN_SOL_SOCKET`

hmm. you know we ought to make a simple function on the namespace like the rest of the sockopt api

[2015-03-08 22:19] nickdesaulniers commented on #63
from the [man pages](http://nanomsg.org/v0.2/nn_setsockopt.3.html):
[code]
It looks like [we don't expose that socket option](https://github.com/nickdesaulniers/node-nanomsg#nanosockettype-options)?  We should also update [the docs](https://github.com/nickdesaulniers/node-nanomsg/blob/master/docs/address_strings.markdown) on tcp address strings.  It might be preferable to always turn this option o

[2015-03-08 22:23] nickdesaulniers commented on #51
Also related is PR #37 .  I'm getting a really bad feeling about this API.  Apparently, you set a socket option on the subscriber, which allows it to ignore the first word in a message.  I would have expected you to set the same topic on the publisher, but this is not the case.  I'll need to spend more time figuring this out, but I really think this feature is broken upstream.  At the bare minimum

[2015-03-08 23:11] reqshark commented on #51
wait a minute, so with that code you're not able to receive `msg2` are you?

[2015-03-09 09:12] asafyish commented on #31
+1

[2015-03-09 17:35] nickdesaulniers commented on #49
Ah nice find.  @rmg , are there any automated way of listed unnecessary dependencies listing in a package.json?  As a project grows, it's hard to keep track of what is no longer necessary.  CSS rules remind me of this.

[2015-03-09 19:54] nickdesaulniers commented on #51
With that code, I __do__ receive msg2, so either filtering does not work, or does not work as I'm expecting.

[2015-03-09 20:09] #49 closed

[2015-03-09 20:11] nickdesaulniers commented on #31
I think this might actually be broken upstream.  See https://github.com/nickdesaulniers/node-nanomsg/issues/51#issuecomment-77778381

[2015-03-09 20:12] nickdesaulniers commented on #51
dupe #31

[2015-03-09 20:12] #51 closed

[2015-03-09 22:07] rmg commented on #49
I find https://www.npmjs.com/package/dependency-check to work well for both missing and unused dependencies.

[2015-03-16 20:09] #63 closed

[2015-03-16 20:12] nickdesaulniers commented on #63
published in 0.4.2, please see https://github.com/nickdesaulniers/node-nanomsg/blob/6df49d2d8f28715bf8877c894a470557ea80a067/test/sockoptapi.js#L73-L76 for usage.  @reqshark , we need to update the readme for this option.

[2015-03-16 20:59] nickdesaulniers opened #67 "drop support for NN_SOCKET_NAME"
[Our code](https://github.com/nickdesaulniers/node-nanomsg/blob/master/src/node_nanomsg.cc#L106-L119) for handling getting the socket name is ridiculous.  I'm going to rip out support for this functionality, since its basis is marked as experimental:

https://github.com/nanomsg/nanomsg/blob/a6dcc0ce7cf489e957e6f07ca756ac66f2420b36/doc/nn_getsockopt.txt#L107-L110
http://nanomsg.org/v0.5/nn_env.7.ht

[2015-03-16 21:04] nickdesaulniers commented on #67
Also: https://github.com/nickdesaulniers/node-nanomsg/blob/master/src/node_nanomsg.cc#L151-L158 and everywhere else NN_SOCKET_NAME is.

[2015-03-16 21:05] reqshark commented on #67
I'm rewriting some of this right now in #65

[2015-03-16 21:47] blowback commented on #67
Go for it!

On 16 March 2015 at 21:05, Bent Cardan <notifications@github.com> wrote:

[2015-03-17 01:39] reqshark commented on #67
@blowback ok cool thanks!

[2015-03-19 06:19] reqshark opened #70 "update socket.shutdown"
@nickdesaulniers, we should probably implement this method [the way we say it's implemented](https://github.com/nickdesaulniers/node-nanomsg#socketshutdownaddress).

### socket.shutdown(*address*)

call `shutdown(str)` w/ an address string to detach the socket connected/bound to that address.

makes way more sense than [trying to cope with obscure return values](https://github.com/nickdesaulniers/

[2015-03-20 18:18] nickdesaulniers commented on #38
Looks more like a [double receive](https://github.com/nickdesaulniers/node-nanomsg/blob/6df49d2d8f28715bf8877c894a470557ea80a067/lib/index.js#L149-L152) than double send.  Still digging.

[2015-03-20 19:05] nickdesaulniers commented on #38
We only set the callback to lib uv once, but it seems to be firing twice, with the same callback. https://github.com/nickdesaulniers/node-nanomsg/blob/7538bfe18202d1631ba2e378e33bdd370d5203c0/src/node_nanomsg.cc#L380

[2015-03-24 22:36] nickdesaulniers opened #72 "setting on message twice leads to bugs"
run the hello world from the readme, but set onmessage twice.  I just did this quickly from the repl and was seeing odd behavior.

[2015-03-25 11:05] GrimDev opened #73 "How to catch nanomsg timeout ?"
Hi !

Since many days, i try to catch nanomsg timeout.

I set rcvtimeo and sndtimeo at 100, and tyed to catch it with socket.on("error") and socket.on("timeout") but that never occurs.

Can I have some help please.

Thx.

[2015-03-25 11:24] reqshark commented on #73
hi @GrimDev, sndtimeo and rcvtimeo aren't going to emit either of those events.

All they are designed to do is delay send or recv operations on the socket.

Can you paste your code so we can take a look?

[2015-03-25 13:01] GrimDev commented on #73
Thanx for your quick reply.

See my code bellow (coffee script)

# I create my socket in pair
console.log "init"
@socket = nano.socket("pair")
addr = "tcp://0.0.0.0:1665"
sock = @socket.bind addr

# Set snttimeo and rcvtimeo at 100
@socket.sndtimeo(100)
@socket.rcvtimeo(100)

# I do a ping each 30 sec
ping = =>
      version = @protocolVersion
      msgType = 20
      message = 0
      phone = 0

[2015-03-25 13:05] reqshark commented on #73
Oh I'm sorry I can't understand coffee, can u please translate into JS!

Sent from my iPhone

[2015-03-25 13:09] GrimDev commented on #73
Yes.

This is the translation

// Init socket
var addr, ping, sock, socket;
socket = nano.socket("pair");
addr = "tcp://0.0.0.0:1665";
sock = this.socket.bind(addr);

// Params
this.socket.sndtimeo(100);
this.socket.rcvtimeo(100);

// Ping function
ping = (function(_this) {
  return function() {
    var message, msgType, phone, version;
    version = _this.protocolVersion;
    msgType = 20;
    me

[2015-03-25 22:16] reqshark commented on #73
Timeout has a special meaning in JS that doesn't apply here.

maybe we should think about changing the language in the docs to "delay" to avoid that confusion in the future.

There's no timeout event that will fire here, it's just setting a silent delay on the socket I/O operation.

[2015-03-26 02:38] nickdesaulniers opened #74 "remove unnecessary requires"
all of the tests seem to include should, but dont seem to use it at all (unless importing should has side effects, looks like yes, not sure we use it still).

[2015-03-26 02:41] reqshark commented on #74
I try to take it out of my tests when I catch it. :+1:

[2015-03-26 03:09] #74 closed

[2015-03-26 03:12] nickdesaulniers commented on #74
I forgot to remove the dev dependencies

[2015-03-26 08:01] GrimDev commented on #73
OK

I understood rcvtimeo and sndtimeo was the delay timeout, but I thought a timeout event is throw when it occurs.

I'll do a ping/pong to detect deconnections.

Thx for your replies.

[2015-03-26 15:43] #73 closed

[2015-03-27 16:58] #31 closed

[2015-03-27 17:00] nickdesaulniers commented on #67
Fixed in PR: #65

[2015-03-27 17:00] #67 closed

[2015-03-27 17:02] nickdesaulniers opened #77 "1.0 release"
With PR: #65, were ready for a major version release.  We should add docs about the new pub sub channel support, and run `npm version major`.

[2015-03-27 17:16] reqshark commented on #77
:+1: right on!

I think we could either do the release now or wait for streams API changes, which could happen soon.

there are a couple implementation details to sort out with streams, but I think we're in good shape.

so if we bump major now, we'll be looking at a v2 release in the near future as well

[2015-03-27 17:17] nickdesaulniers commented on #77
release early, release often

[2015-03-27 19:57] #77 closed

[2015-03-28 06:10] nickdesaulniers commented on #77
:house: :fire: :church: :hospital: :snail: :house_with_garden: :fire: :house:
Oh no it's snailzilla!

       :sunny:                :helicopter:
:cloud:            :cloud:               :cloud:
______ :snail:     :evergreen_tree: :church: :deciduous_tree:
It's headed for the orphanage!!!! :fearful:

[2015-03-28 07:55] reqshark commented on #77
#### look! a gondola is running
:sunny:                :helicopter:
:cloud:            :cloud:               :cloud:
______ :snail:     :evergreen_tree: :church: :deciduous_tree: :mountain_cableway: :deciduous_tree: must have been hidden beyond the trees earlier!
It's headed for the orphanage!!!! :fearful:

[2015-03-30 17:44] nickdesaulniers commented on #70
fixed in #71

[2015-03-30 17:44] #70 closed

[2015-04-02 01:55] reqshark opened #79 "zero-copy"
zero-copy becomes increasingly useful as msg size grows.

for people not familiar with zero-copy or interested in more background info, [here's a nice article explaining what it is and why it's important](http://www.ibm.com/developerworks/library/j-zerocopy/).

libnanomsg supports zero-copy msg transport for both send and recv operations. Ok so when and where do we want to be doing *zero-copy* in

[2015-04-12 00:56] nickdesaulniers opened #82 "bad test case"
The test send.js says this on Travis in Node 0.10:

/home/travis/build/nickdesaulniers/node-nanomsg/node_modules/tape/index.js:75
        throw err
              ^
TypeError: Object hello has no method 'equals'
    at Socket.<anonymous> (/home/travis/build/nickdesaulniers/node-nanomsg/test/send.js:87:17)
    at Socket.emit (events.js:95:17)
    at Socket._receive (/home/travis/build/nickdesaulnier

[2015-04-12 01:17] nickdesaulniers commented on #82
we should use [Buffer.compare](https://nodejs.org/api/buffer.html#buffer_class_method_buffer_compare_buf1_buf2) and check that the result is 0.

[2015-04-12 02:10] reqshark commented on #82
oh ya definitely `Buffer.compare(buf1, buf2)` looks sweet, we should do that in perf tests too!

what about just doing `t.equal(that,'thing')` as the replacement for should?

[2015-04-12 06:20] nickdesaulniers commented on #72
actually, no.  In Node.js, using the `on` equivalent of `addEventListener` also queues up multiple event callbacks.  For instance, curling:
[code]
produces:
[code]

[2015-04-12 06:20] #72 closed

[2015-04-12 07:51] nickdesaulniers commented on #38
I think this is an extension of #10 and #11.  With bus, you should only have one process bind, and the rest connect, and they can still send each other messages.  When each process binds and connects, then this problem arises.  We can't differentiate the socket being marked readable twice from this vs receiving two different messages.  A bus socket can send and receive by simply calling bind or re

[2015-04-12 07:51] #38 closed

[2015-04-12 07:55] nickdesaulniers commented on #38
So in a sense, we're working correctly; we call our onmessage callback twice, since a call to send on a BUS socket that is both bound and connected to another BUS socket is technically notifying the receiver on two addresses.  For a BUS socket, the binder and the connector are irrelevant, and each pair should ever be bound/connected via one address, otherwise you can expect onmessage to be invoked

[2015-04-12 22:13] nickdesaulniers opened #84 "remove cpp macros"
Let's get rid of macros.  While they shorten the amount of code needed to type, they make me feel uncomfortable.

[2015-04-12 23:06] nickdesaulniers commented on #82
Actually, [buf.equals is listed in the docs](https://nodejs.org/api/buffer.html#buffer_buf_equals_otherbuffer).  Was it not in 0.10?

[2015-04-12 23:23] nickdesaulniers commented on #82
[Master 0.12](https://github.com/joyent/node/blob/ae58fc407f916b2abb164453a5b09273c543dbc3/lib/buffer.js#L296-L301).
0.10 does not exist!

[2015-04-13 01:00] reqshark commented on #84
sounds good to me!

being explicit where things get kinda complicated is a probably virtue.

[2015-04-13 01:10] reqshark commented on #79
btw outlook is super busy this week for me.

i think i could reasonably PR this feature next week, so if anyone wants to take a stab at it in the meantime, then by all means, would be happy to review or build on that PR!

[2015-04-13 01:23] reqshark commented on #84
weird no auto-close?

i wonder did the colon in the commit line prevent auto-close?

[2015-04-13 01:23] #84 closed

[2015-04-13 07:44] reqshark commented on #84
Eureka!  :tophat:

I think this issue didn't auto-close for me because I took a shortcut this time, doing PR/Issue ref from commit only during the last phase of:
[code]
... like after you squash it lets you rename the commit message.

I think I was probably supposed to do that PR/Issue naming ceremony one step later in:
[code]

[2015-04-13 08:28] #82 closed

[2015-04-13 13:15] reqshark commented on #79
this morning i was reading from *The Art of Unix Programming* and some lines stuck me from the section on <strong>Compactness and the Strong Single Center</strong>:

-Eric S. Raymond

IMO, that's exactly what we're trying to do here in the `src/node_nanomsg.cc` file.

[2015-04-13 16:12] reqshark commented on #60
fixed by d1ab5a6a96abe3776c4cf80a309c0862402f7c29

[2015-04-13 16:12] #60 closed

[2015-04-16 05:41] reqshark opened #87 "unique prototypes for unique socket types"
this one cropped up during streams development in #53

just an idea that might help binding duplex stream `pull` sockets with built-in back-pressure.

I wonder if we can grab most of the general `Socket` class, like all the sockopt functions, and other properties and bring them over to a few type specific prototypes.

In order to keep prototype inheritance boilerplate a bit cleaner, I copied the i

[2015-04-24 02:36] bmoelk opened #88 "Question: Any way to guarantee pub.send delivery?"
I'd like to publish a message with a command line app and exit once I'm sure the message has been sent.

Although it appears pub.send is synchronous, it seems there are times when messages are lost due to latency issues. I've tried to increase the the linger value, but the only thing that seems to reliably send is if I sleep for a second before exiting.

It seems to me that although pub.send appea

[2015-04-24 17:06] nickdesaulniers commented on #88
So if you set linger to 1000ms, node.js will exit before the message is sent?  I'm not sure how setTimeout and family signal to node.js not to shutdown, but we can probably add that signaling mechanism.  I'm curious if node's tcp stuff will wait to send then exit.  We reuse the default uv loop when sending and receiving messages, signaling when we should read from a file descriptor.  https://githu

[2015-04-24 17:06] nickdesaulniers commented on #88
Also, if you have a test case that shows the undesired behavior, that would be helpful.

[2015-04-24 18:18] reqshark commented on #88
@bmoelk PUB messages are not guaranteed. You might try PUSH PULL.

[2015-04-24 18:50] nickdesaulniers commented on #88
@reqshark can you cite that from the nanomsg man pages?  I was not able to find a reference.

[2015-04-24 18:51] reqshark commented on #88
ya totally, the docs are weak in a lot of places.

hmm, it might be in an issue or mailing list. i'll see if i can find it

[2015-04-27 20:06] bmoelk commented on #88
Thanks for the info re: pub/sub, I'll use push/pull for my purposes. FWIW, here is a gist to reproduce the behavior: https://gist.github.com/bmoelk/7b4e90eee1c820345b1f

[2015-04-29 16:56] reqshark commented on #79
@nickdesaulniers and i discussed this last night and we are going to take our time here basically.

One thing we talked about on zero-copy is, first of all, it's kind of complicated to get right and for some common architectures this will have little to no impact.

We are in no rush to implement this; however once we do, look out for a win in application performance probably mostly for off-cloud n

[2015-05-05 09:03] trygve-lie opened #89 "Current master will not compile on iojs 2.x"
iojs 2.0.0 was just released with quite a bit of [large and breaking changes in it](https://github.com/iojs/io.js/blob/master/CHANGELOG.md#2015-05-04-version-200-rvagg). Sadly it seems like master will not compile with this version of iojs:

[code]

[2015-05-05 09:08] trygve-lie commented on #89
BTW; I've tried to upgrade to latest version of nan. That did not solve it.

[2015-05-05 16:56] nickdesaulniers commented on #89
This doesn't look like a compiler error, but an error with the build system.  I wonder if they upgraded the version of gyp, which makes some breaking changes?

[2015-05-05 19:56] nickdesaulniers commented on #89
ugh seeing this on travis now: https://travis-ci.org/nickdesaulniers/node-nanomsg/jobs/61343730

[2015-05-05 20:03] nickdesaulniers commented on #89
@trygve-lie if you run `node-gyp -h` what's the version used by io.js 2.0?

[2015-05-05 20:09] nickdesaulniers commented on #89
also, not sure if running `node-gyp install` is necessary or not.

[2015-05-05 21:47] reqshark commented on #89
update nan

[2015-05-05 21:55] nickdesaulniers commented on #89
@reqshark , didn't @trygve-lie say he tried?  Can you verify that works?

[2015-05-05 23:43] reqshark commented on #89
@nickdesaulniers oh ya he did, ok i'll take a look

[2015-05-06 09:29] trygve-lie commented on #89
@nickdesaulniers If I run node-gyp -h it yelds this:

[code]

[2015-05-06 15:52] reqshark commented on #89
@trygve-lie, which operating system are you running?

are you still not able to build even after doing this: https://github.com/nickdesaulniers/node-nanomsg/commit/145f7e075f158f77f0a18cafcb3cf41f553d707c?

[2015-05-06 16:38] nickdesaulniers commented on #89
@trygve-lie , just published v1.1.1, try upgrading and seeing if the issue is fixed for you.  Feel free to close the issue if it's all good.

[2015-05-07 05:18] #89 closed

[2015-05-07 05:20] reqshark commented on #89
thanks for alerting us @trygve-lie!

if you're unable to compile with the new iojs after the 1.1.1 release, lemme know to reopen

[2015-05-29 05:03] nickdesaulniers opened #91 "unable to install"
[code]

[2015-05-29 05:05] reqshark commented on #91
what os?

[2015-05-29 05:05] reqshark commented on #91
wait are you doing the git submodule bro?

[2015-05-29 05:09] reqshark commented on #91
btw mine looks like:
[code]

[2015-05-29 05:11] nickdesaulniers commented on #91
maybe I'm crazy, I was in a dir that was sqlite, I wonder if that was causing some conflict.  Seems fine now.  WTF

[2015-05-29 05:11] #91 closed

[2015-05-29 05:12] reqshark commented on #91
weird was it another node binding?

[2015-05-29 05:13] nickdesaulniers commented on #91
no, was working on a C++ package manager :cat: :smirk_cat:

[2015-05-29 05:13] reqshark commented on #91
oh i know

[2015-05-29 05:14] reqshark commented on #91
obviously it was :snail:_____

# SNAILZILLA

[2015-06-01 18:14] thelinuxlich opened #92 "Questions: is socket.send async? How do I intercept failed messages?"
I'm testing REQREP for a use case to replace Redis processing queue(using LPUSH and BRPOP) but I would like to store messages that no consumer got on redis for processing later.

[2015-06-01 20:52] thelinuxlich commented on #35
+1 for this

[2015-06-01 21:17] thelinuxlich opened #93 "REQ not sending ETIMEDOUT"
According to @gdamore on nanomsg gitter channel:

[code]

So far I've tried every configuration possible and req.on("timeout", function() { ... }) never fires.

[2015-06-01 21:19] gdamore commented on #93
Make sure the NN_RCVTIMEO option is set though!

[2015-06-01 21:23] thelinuxlich commented on #93
Oh yeah, I've tried setting it to 1, nothing happened

[2015-06-01 21:24] nickdesaulniers commented on #93
@thelinuxlich do you have a small test case we could add to our test suite to work against?

[2015-06-01 21:25] gdamore commented on #93
Btw, ETIMEOUT does not apply to RAW sockets -- only to cooked ones.

[2015-06-01 21:36] gdamore commented on #93
Huh.  In my testing I'm getting EAGAIN instead of ETIMEDOUT.  That's ... not what it should be.

[2015-06-01 21:38] nickdesaulniers commented on #93
@gdamore , note we statically link an older version of Nanomsg.  If that was recently fixed, we can update our dependency.

[2015-06-01 21:41] gdamore commented on #93
Huh.  In libnanomsg ETIMEDOUT is intentionally turned into EAGAIN:
        rc = nn_efd_wait (&self->rcvfd, timeout);
        if (nn_slow (rc == -ETIMEDOUT))
            return -EAGAIN;

This feels like a mistake to me, but I need to make further research.  Nonetheless, EAGAIN or ETIMEDOUT -- you do get a timeout.  Blocking mode only of course.  (nonblocking sockets cannot distinguish a "timeout" a

[2015-06-01 21:43] thelinuxlich commented on #93
hmmm req.send is non-blocking in node-nanomsg? If it is we are lost concerning timeouts? :(

[2015-06-01 21:50] thelinuxlich commented on #93
@nickdesaulniers  I'm trying to get the timeout event with this simple server implementation: https://gist.github.com/thelinuxlich/1e55ef121874d127ceca

[2015-06-01 21:53] nickdesaulniers commented on #93
Well, you're missing a rep socket.  Req/rep are meant to be used as a pair.  I should add an example for this...

[2015-06-01 21:56] nickdesaulniers commented on #93
for now, see [this test](https://github.com/nickdesaulniers/node-nanomsg/blob/c229c9ff5e0775264de1c0959efc4ea13662e979/test/ipc.js#L60-L84)

[2015-06-01 22:04] thelinuxlich commented on #93
no, I'm testing exactly the absence of a consumer listening to see a timeout event

[2015-06-01 22:09] nickdesaulniers commented on #93
indeed, we do not emit a timeout event anywhere.  Note the ability to specify socket options were added recently, and aren't fully tested other than check for their existence.  See #52.  What function in nanomsg returns ETIMEOUT or EAGAIN?  That would help me figure out how to wire it up.

[2015-06-01 22:17] nickdesaulniers commented on #93
Stack looks like [nn_send](https://github.com/nanomsg/nanomsg/blob/a6dcc0ce7cf489e957e6f07ca756ac66f2420b36/src/core/global.c#L708) -> [nn_sendmsg](https://github.com/nanomsg/nanomsg/blob/a6dcc0ce7cf489e957e6f07ca756ac66f2420b36/src/core/global.c#L829) -> [nn_sock_send](https://github.com/nanomsg/nanomsg/blob/a6dcc0ce7cf489e957e6f07ca756ac66f2420b36/src/core/sock.c#L594-L595) -> EAGAIN

[2015-06-01 23:21] thelinuxlich commented on #93
@gdamore said REQ is sending EAGAIN

[2015-06-02 00:13] reqshark commented on #35
It's difficult to support dynamic linking on systems without a standard `pkg-config`, i.e. Windows.

[2015-06-02 00:18] reqshark commented on #35
Meanwhile, on POSIX systems it's as easy as going like this in binding.gyp:

[code]

[2015-06-02 00:20] thelinuxlich commented on #35
the library suffers because of windows -_-

[2015-06-02 00:20] reqshark commented on #35
haha :+1:

[2015-06-02 00:43] gdamore commented on #93
nn_recv gets the EAGAIN.

Sent from my iPhone

[2015-06-02 02:25] reqshark commented on #92
the Pipeline pattern works that way internally, namely: when no consumer receives the message, the pipeline's internal storage mechanism will distribute messages for processing later as a consumer becomes available. This is the `PUSH`/`PULL` combo.

Of course this is not the answer to your question: how to intercept failed messages.

and for reference, here's a list of the supported patterns:
* <s

[2015-06-02 02:32] thelinuxlich commented on #92
It's not exactly failed messages, but pending, see #93

[2015-06-02 02:33] reqshark commented on #92
ok i'll take a look

[2015-06-02 18:48] thelinuxlich opened #95 "Something weird happens in REQREP when the server resends messages"
Server: https://gist.github.com/thelinuxlich/36290060a4bcda2aed79
Client: https://gist.github.com/thelinuxlich/a2397a5fd0768603e8e7

If I let the server run alone, it will try to send 10 messages with random strings. Then if I start a client, I can see after some seconds at least 7 messages going to it, BUT all of them with the last string sent.

[2015-06-02 18:49] thelinuxlich commented on #95
Pinging @gdamore here to see if this is a expected nanomsg behavior

[2015-06-02 19:00] thelinuxlich commented on #95
Actually it is not weird, it is really bad: I've left the client up for some time and it has received 18 messages!

[2015-06-02 22:29] thelinuxlich opened #96 "Behavior of PUSH PULL"
REQREP - when there are no consumers and the producer sent messages, if a consumer connects, it will receive each message slowly, per reconnecting configuration

PUSHPULL - when there are no consumers and the producer sent messages, if a consumer connects, it will receive all pending messages instantly

Is this behavior normal? Also, I see that if I leave the producer enabled for hours and a consu

[2015-06-03 20:25] nickdesaulniers commented on #96
I'm not familiar enough with nanomsg to know the answer to this.  We should write a test case in C and see if we differ from the host implementation.

[2015-06-03 20:31] reqshark commented on #96
<strong>PUSHPULL</strong>: yes this is normal behavior and how it's supposed to work without a built-in limit.

<strong>REQREP</strong>: to nail this down I think we need to talk about each side in terms of whether it's a REQ or a REP instead of the Producer/Consumer paradigm (easier for me at least). A REP will never fire without a REQ. Another subsequent REQ msg will never get ack'd until the pr

[2015-06-03 20:41] reqshark commented on #95
what happens if you don't set those socket options on the server?

[2015-06-18 19:22] 1N50MN14 opened #98 "Bad file descriptor [9] (../deps/nanomsg/src/aio/poller_epoll.inc:107)"
For some odd nanomsg crashes when used within a Docker container throwing an error `Bad file descriptor [9] (../deps/nanomsg/src/aio/poller_epoll.inc:107)`. TCP ports are exposed correctly.

Any ideas as to why this might be happening? To see the crash, take any of the examples, dockerize and run.

[2015-06-18 19:29] nickdesaulniers commented on #98
What's the file description that you passed to bind/connect?  That line number is in our fork [here](https://github.com/nickdesaulniers/nanomsg/blob/nn_rcvprio/src/aio/poller_epoll.inc#L107).  That `errno_assert` is probably a macro that prints `strerror(errno)`.  That function [doesn't look any different upstream](https://github.com/nanomsg/nanomsg/blob/master/src/aio/poller_epoll.inc#L107), so u

[2015-06-18 19:38] 1N50MN14 commented on #98
This is basically a snippet of my code:

[code]

[code]

[2015-06-18 19:44] nickdesaulniers commented on #98
What if you perform the string concatenation first, store the resulting string in a temp variable and log it.  Can you start the DOCKER_HOST first, then see if you can connect to it via tellnet from or node's net library without nanomsg?

[2015-06-18 19:44] nickdesaulniers commented on #98
`sock.connect('tcp://'+SERVICE_HOST,':'+SERVICE_PORT);` did you mean to have a comma in there? ;)

[2015-06-18 19:45] 1N50MN14 commented on #98
apologies this is just a typo  please ignore it, I find it faster to type than copy & paste on my new stupid Macbook ;)

[2015-06-18 19:46] reqshark commented on #98
wait so is there a bad descriptor?

[2015-06-18 19:48] 1N50MN14 commented on #98
The line should read:
`sock.connect('tcp://'+SERVICE_HOST+':'+SERVICE_PORT);`

This is correct I even hardcoded the uri and manually tested it, it's not it.. exactly the same code running outside Docker (I'm basically mounting the volume where the code resides into the Docker container during development) works like a charm...

[2015-06-18 19:51] nickdesaulniers commented on #98
on the second image, the client, try `require('net').connect(SERVICE_PORT, SERVICE_HOST)` and tell me if you see the same error.

[2015-06-18 19:51] 1N50MN14 commented on #98
@nickdesaulniers Yes I have started the Docker host first and checked the TCP port, also tried a simple socket connection (net.connect) which worked too

[2015-06-18 21:00] nickdesaulniers commented on #98
Probably the next thing to check is to implement the same thing in C and see if it's an issue upstream.

[2015-06-18 21:17] 1N50MN14 commented on #98
@nickdesaulniers I just managed to get a basic code working (I still have to do some more tests), basically on the "server" side I was binding the socket to DOCKER IP (instead of 127.0.0.1 when running outside docker).

To test the binding I logged `sock.bound['tcp://dockerhost:dockerport']` which returned 1, so I assumed all good here.

Now `net.createServer.listen()` takes a port argument, so I

[2015-06-18 21:19] 1N50MN14 commented on #98
Obviously I'm still using docker ip with connect()

[2015-06-19 22:16] 1N50MN14 commented on #98
@nickdesaulniers @reqshark  Ok I can confirmed this is resolved and working like a charm ;) Thank you very much for the follow up (and for bringing nanomsg to node!!). Closing this issue.

[2015-06-19 22:16] #98 closed

[2015-06-19 22:28] nickdesaulniers commented on #98
glad we could help, thanks for filing an issue to help us keep track

[2015-06-19 22:37] reqshark commented on #98
:+1:

btw when forming your connection address, you might try a named interface, like `eth0` or `lo0`:

[code]

and to find those, if you don't want to run `ifconfig`, just use `require('os').networkInterfaces()` for an object in node with a nice mapping of your machine's named interfaces

[2015-06-19 23:05] 1N50MN14 commented on #98
cool didn't know I could do that, right now I basically loop through the networkInterfaces() and retrieve the address which matches `!interface.internal && interface.family === 'IPv6'`. Will give the named interface approach a go!

[2015-06-20 01:39] reqshark commented on #98
Oh `IPv6` in nanomsg is disabled by default. you might need to [set that option](https://github.com/nickdesaulniers/node-nanomsg#socketipv6boolean) before connect/bind:

[code]

[2015-06-20 11:01] 1N50MN14 commented on #98
@reqshark Strange this worked for me out of the box without calling `ipv6(true)`. The Docker container which I'm binding the ipv6 address has port forwarding I'm basically running it like so `docker run -p 5000:5000 myservice`.

`connect` on the other hand within the other container relies on Docker IP which I believe is ipv4. Basically the flow is `connect(ipv4)` -> `ipv4` <-- port mapping --> `i

[2015-06-24 01:09] #96 closed

[2015-06-24 01:09] #95 closed

[2015-06-24 01:09] #93 closed

[2015-06-24 01:09] #92 closed

[2015-07-06 17:05] gtoonstra opened #99 "Blocking on incoming message"
I'm using nanomsg in a node.js app and had to insert a rcvtimeout option to deal with a blocking operation in nanomsg that was causing all of nodejs to become unresponsive:

``var subscriber = nano.socket('sub');
subscriber.rcvtimeo(50);

subscriber.connect( "tcp://127.0.0.1:5556" )
subscriber.on('message', function(data) {} )``

It's using socket.io and all browsers saw a "stalled" socket.io libr

[2015-07-06 19:11] reqshark commented on #99
that's interesting, what kind of machine are you running?

[2015-07-06 20:19] gtoonstra commented on #99
mac osx , python 2.7 stock with python. I believe we built the nanomsg library from 0.5 and then just did an npm install of the latest npm library. I can check tomorrow if you want to be sure.

So the use case is:
* we have a django server that serves web pages
* the same django server can emit events from other sources.
* in the index page, it loads socket.io from the nodejs server and establishe

[2015-07-07 20:24] nickdesaulniers commented on #99
This makes no sense; unless a tty sends some form of signal to a running process on resize.  I don't see how the two could even remotely be related.

[2015-07-07 21:11] reqshark commented on #99
ditto.

btw to clarify the dep versioning issue:

as long as you have node 0.10 or later, or io.js, then doing `npm install` builds from a patched (slightly improved) version of the beta-5 release. that version gets baked into the binding automatically so having libnanomsg on your system is not a requirement.

[2015-07-07 21:24] gtoonstra commented on #99
I totally agree, I did that check a couple of times to reverify.

* When doing nothing, the process hangs indefinitely. Refreshing the page does not help.
* When nodejs is stopped, the page is loaded.
* When the console that nodejs is running on is resized, the page continues too.

Note: with "messages start flowing again" I meant the messages over socket.io, not nanomsg.

In the check there were

[2015-07-09 11:19] ColorfullyMe commented on #96
@reqshark I dig into what to use PUSHPULL or REQREP for monitoring app via TCP and did land here. Please, clarify for me, if you have time as I see you are "inside things":

PULL should/will stack pending messages but PUSH blocks if it can not send the message. Looks to me as the same lock as in REQREP from pusher's point of view.

`nanocat --pull --bind tcp://*:8787 -A`
in some other terminal...

[2015-07-09 13:26] reqshark commented on #96
1. yes
2. yes, it should.
3. reqrep is designed more for 1-to-1 endpoints. pushpull is more like 1-to-many.

reqrep operates like two PAIR sockets but with added delivery constraints around message acknowledgement.

with pushpull you can use a single push socket and distribute the messages like a load-balancer evenly across many connected pull sockets. the more pull sockets you add, the more you c

[2015-07-10 07:23] ColorfullyMe commented on #96
Thanks!

[2015-07-10 08:01] reqshark commented on #96
np :)

[2015-07-10 13:09] ColorfullyMe opened #100 "Events emitted?"
Inspecting the code I spot those events that will be emitted:
- survey-timeout
- message
- error
- close

1. Are there more?
2. How can I be notified for `connect` event?
3. What would be the road to go if I want to implement more events?

[2015-07-11 07:19] reqshark commented on #100
both `bind` and `connect` are blocking functions without completion events, i think.

@comick would know more about that but generally one should allow for about 50-100 milliseconds for the TCP handshakes and roundtrips to settle down, depends on distance or network conditions.

these are good questions probably not explained enough by the documentation.  @ColorfullyMe, would you consider a making

[2015-07-13 12:45] ColorfullyMe commented on #100
@reqshark I am new to `node-nanomsg` but will love to consider making a PR when I know more deeply what happens here :)
What I was after with this question was to gather knowledge how to have some basic socket statistics. I wan to know how many connected sockets there are, IPs etc things like that. Drop some of them say if they fail some sort of initial authorization.
It looks that `node-nanomsg`

[2015-07-20 21:46] #29 closed

[2015-07-20 21:49] nickdesaulniers commented on #45
fixed in #53

[2015-07-20 21:49] #45 closed

[2015-08-03 09:29] sirudog commented on #35
somehow related to this: I see there is a newer version of nanomsg lib (0.6), and node-nanomsg  uses a fork of ver 0.5. Is there a roadmap for upgrading to the latest lib? I guess it would not be safe to try to build against the latest...

[2015-08-05 07:31] redaphid commented on #36
Hey guys -

First of all, thanks for this library! You guys are doing an awesome job!

I'm working on [Meshblu](https://github.com/octoblu/meshblu), an open internet of things platform, and we're thinking about using nanomsg in a performance-optimized core we're experimenting with.

The only thing that's really keeping me from recommending this library is the lack of asynchronous functions for con

[2015-08-05 16:45] comick commented on #36
Ciao @redaphid, I started an async implementation in a branch at https://github.com/comick/node-nanomsg/commits/async

Is not difficult to implement and was working well. Now I do not have any time to work on the project so it is as it is, at least bind is async, connect not yet, but same concepts apply. If you want to improve, fork from current master (not my fork) and use my fork's branch as ins

[2015-08-05 19:08] redaphid commented on #36
@comick Cool! Yeah, I was looking into how to do this, and it seems like libuv is the way everyone else does it.

[2015-08-06 03:07] reqshark commented on #35
@sirudog good point, and definitely related.. we need to update the build to v0.6

[2015-08-06 03:19] reqshark commented on #100
it might be possible to initialize the library in one of its debug mode varieties. There's a memory allocation debugging [utility built into libnanomsg](https://github.com/nanomsg/nanomsg/blob/9b7785994bad63350b8c71f400c6589c74ae64a4/src/utils/alloc.h#L36), `NN_ALLOC_MONITOR`. There may be more socket reporting information available as well, but I'm not sure how much documentation is available fro

[2015-08-08 11:00] reqshark commented on #32
no response over a year ago?

woouhp whoou :oncoming_police_car:

[2015-08-08 11:00] #32 closed

[2015-08-09 08:40] reqshark commented on #10
if we get that behavior after updating to the recent release of nanomsg beta 6, then :tada: great

otherwise a confused IPC socket needs some help, the intervention should hopefully happen smoothly by checking `errno`. but i have a feeling that might not even be the case. After borking the thing with an attempt to multi-bind on a single address and then close I was able to get the thing to rear up

[2015-08-10 11:27] ksaritek opened #102 "nanomsg 0.6"
forked nanommsg is at 0.5 version(feb 26). When sould nanomsg be upgraded?

[2015-08-10 11:55] reqshark commented on #102
yea totally :loudspeaker: we're behind on that. it must get done.

I thought I was going to have time to do it this weekend, eh... i guess I could do it next weekend

if you can't wait, send a PR

[2015-08-10 13:20] reqshark opened #103 "ecosystem upgrades"
## relevant ecosystem changes

- [ ] nan 2

#### beta 6 targets:
- [x] windows
- [x] linx
- [x] osx

In addition to beta 6, let's use recently overhauled [native abstractions](https://github.com/nodejs/nan/issues/376) to compile against API breakage upstream in V8 4.4.63.26... like if we want to use iojs3. no more Handle, it's Local now.

btw, @nickdesaulniers, iojs3 brings changes to node::buffer

[2015-08-10 20:32] thelinuxlich commented on #103
+1

[2015-08-13 07:44] reqshark commented on #103
ok status update: got osx on beta6. building it on my machine running 10.11 El Capitan...

we're getting a few symbol test failures in `test/symbol.js` and `nn_device()` is killing the process. this is totally expected and @nickdesaulniers had to send a patch upstream earlier this year to libnanomsg in order to get our symbols test to pass, so upstream is again missing a couple symbols for export

[2015-08-15 00:48] reqshark commented on #103
linux is done.

[code]

[2015-08-15 10:11] TEugen opened #105 "ReqRep throws an error after a while"
I have this running code, `server.js`:

[code]

And two instances of this code, `client.js`:

[code]

After a while I get this error:

[code]

Seems to be a race condition somehow, I noticed the error is from `nanomsg`'s [source code](https://github.com/nanomsg/nanomsg/blob/master/src/utils/err.c#L103), but I don't know if is node related or what to report on `nanomsg`'s issue list.

[2015-08-17 06:44] sirudog commented on #35
Hi,

First of all, thanks for the quick response to my question of upgrading to 0.6!

I see you already gave a direction how to do this for POSIX systems, but would it be a lot of work to offer the dynamic linking support as sorenriise originally asked for?
For non-windows users it would be very helpful. I am also in the same situation as he was, and it would be nice if I did not have to do this c

[2015-08-18 21:49] reqshark commented on #35
I tend to agree. But the tradeoff here is that people will have trouble installing if we did that which might limit access to the library. Maybe we could counter that likely effect with good install documentation. People have submitted tons of issues about how hard it is to install zmq.

The benefit of the current method is that we build an ad-hoc statically compiled binary linked to node.js. This

[2015-08-19 21:24] reqshark commented on #105
you might already be doing this, but I guess until we figure out what that is, to keep your stream open and to prevent sockets from crashing the process, make sure to be err handling the stream:
[code]

also what's *after a while*, like ballpark how long is that duration?

[2015-08-20 04:53] TEugen commented on #105
If you change the `setInterval` to 50ms and run 2 instances of `client.js` it usually happens in 3-4 seconds.

I use error handling, thanks for the suggestion tho', in this case once an error happens it keeps on throwing with every received message.

[code]

[2015-08-20 04:57] reqshark commented on #105
ok so that's not a good use of the stream error handler, since the socket is left in an unrecoverable state.  basically you would have to reinitialize the socket during the error callback to keep things stable.

thanks for the details, I'll try to reproduce it.  btw, are you using a unix or windows?

[2015-08-20 05:27] TEugen commented on #105
I'm on OS X 10.10.4, haven't tried it on Linux yet'

[2015-08-25 17:07] reqshark commented on #102
updated and published to npm a9350236cf98da3cd24ca69c18c96f528e73692e

[2015-08-25 17:07] #102 closed

[2015-08-27 20:04] thelinuxlich opened #106 "Error trying to load nanomsg 2.1"
/app/releases/20150827195841/node_modules/nanomsg/node_modules/bindings/bindings.js:83
throw e
^
Error: Module version mismatch. Expected 44, got 14.
at Error (native)
at Module.load (module.js:355:32)
at Function.Module._load (module.js:310:12)
at Module.require (module.js:365:17)
at require (module.js:384:17)
at bindings (/app/releases/20150827195841/node_modules/nanomsg/node_modules/bindings/bi

[2015-08-27 23:47] reqshark commented on #106
what version of node? what OS?

[2015-08-27 23:48] thelinuxlich commented on #106
io.js 2.5, linux 3.10

[2015-08-27 23:49] reqshark commented on #106
you might have to remove your `node_modules/nanomsg` and reinstall, can you try that?

[2015-08-28 00:01] reqshark commented on #106
[code]
this usually happens when some other version of node installed the module.

if you're getting module version mismatch after doing a fresh `npm install nanomsg` and running the module with that same version of node, then we have a bigger problem.

[2015-09-02 00:18] thelinuxlich opened #107 "Failure when DNS resolves multiple addresses"
Assertion failed: reply && !reply->ai_next (../deps/nanomsg/src/transports/utils/dns_getaddrinfo.inc:112)

nanosmg 2.0.0
io.js 2.5.0

[2015-09-02 00:33] reqshark commented on #107
it seems like it's having trouble looking up a domain name. what causes that?

[2015-09-02 00:40] reqshark commented on #107
when i say what causes that, i mean like what kinda code or what were you doing?

[2015-09-02 01:04] thelinuxlich commented on #107
I'm connecting to a array of servers for PUSH/PULL messages, like this: ['tcp://host:7000']
If I ping the host, it is getting the correct server, everything was working fine then all of a sudden this started to happen

[2015-09-02 01:15] reqshark commented on #107
so there might be an issue with DNS configuration or nanomsg could have a bug with DNS lookup, to circumvent that I'd use the IP address directly if possible

[2015-09-02 01:22] thelinuxlich commented on #107
Passing directly the host IPs worked, but this is very strange because nothing changed on my side.

[2015-09-02 01:55] nickdesaulniers commented on #107
from `man 3 getaddrinfo`

[code]

It looks like not a single node of struct addrinfo's was set by getaddrinfo, and upstream, they assert that that will never happen.

[2015-09-02 03:06] nickdesaulniers commented on #107
surprising, getaddrinfo doesn't return an error code.  oh, the assert is checking that it got one addr and only one!  so I'm curious exactly why they only want one returned address?  Why is it considered an error if there's more than one address?

[2015-09-02 03:06] nickdesaulniers commented on #107
https://github.com/nanomsg/nanomsg/blob/master/src/transports/utils/dns_getaddrinfo.inc#L104-L112

[2015-09-02 19:16] reqshark commented on #107
good question, my guess is that `void nn_dns_shutdown()` can act on the same `struct addrinfo`

[2015-09-04 05:44] reqshark commented on #103
btw i'm going on vacation to Maui :palm_tree: starting tomorrow so if someone wants to do a PR for upgrading to nan 2, that would be awesome.  otherwise I'll get to it when i get back around mid sept

cc @kkoopa

[2015-09-04 17:32] #103 closed

[2015-09-10 19:58] reqshark opened #110 "streams test timeout"
on the travis iojs test yesterday and once today already on the node v4.0.0 test I was getting a timeout on our: `pipe a thousand msgs between incompatible socket types`

https://github.com/nickdesaulniers/node-nanomsg/blob/master/test/streams.js#L4

i had to manually restart that otherwise it was just hanging so..

let's keep an eye on that travis CI timeout happening again and consider lowering

[2015-09-10 20:04] nickdesaulniers opened #111 "add Trygve Lie to contributors"
We missed @trygve-lie in the list on contributors.

Also, I'd like to remove names from the License and have it say something like `copyright 2015 contributors (see package.json for list)` or something more formal, if that's cool with @tcr

[2015-09-10 20:09] reqshark commented on #111
Can u make a PR?

I can merge later today, when I get back from my bike ride

[2015-09-10 20:20] nickdesaulniers commented on #110
https://travis-ci.org/nickdesaulniers/node-nanomsg/jobs/79727401

[2015-09-10 20:31] nickdesaulniers commented on #110
https://travis-ci.org/nickdesaulniers/node-nanomsg/jobs/79727503

[2015-09-10 22:18] reqshark commented on #110
yea, i'm on it here #114

[2015-09-10 23:32] nickdesaulniers opened #115 "nn_close needs to check errno for EINTR"
from the man page: http://nanomsg.org/v0.6/nn_close.3.html

we're not checking the return code then errno: https://github.com/nickdesaulniers/node-nanomsg/blob/master/src/node_nanomsg.cc#L35

[2015-09-10 23:33] nickdesaulniers commented on #115
might be related to #110

[2015-09-10 23:40] reqshark commented on #115
right you are

[2015-09-10 23:41] nickdesaulniers commented on #115
I mean, you're the one that pointed it out, over IRC :frog: :dromedary_camel:

[2015-09-11 02:40] #115 closed

[2015-09-11 03:19] #88 closed

[2015-09-11 03:35] reqshark commented on #110
we might have a better time of things by avoiding the guesswork of `setTimeout`, i.e. throughout the tests

check out #117, i'm adding an optional callback to `connect()` there

if that approach looks cool then I think we could use it for `nn_bind()`, `nn_close()` etc...

[2015-09-13 15:15] Dexus opened #118 "Work Queue like in rabbitmq?"
Is there a way to use nanomsg as Work Queue like https://www.rabbitmq.com/tutorials/tutorial-two-javascript.html?

[2015-09-13 17:07] reqshark commented on #118
the work queue backpressure mechanism isn't perfect, but you can use node streams `pause()` and `resume()` methods on PUSH/PULL, a.k.a. pipeline. If you need to distribute precise load balancing tasks among stateless workers, then REQ/REP might be better.

 Anyway, if you want to checkout PUSH/PULL, create two files:
* `push.js`
* `pull.js`

it's best to get the workers ready first. to get them go

[2015-09-14 18:40] reqshark opened #119 "bad form in tests/standalone"
`term()` test:

https://github.com/nickdesaulniers/node-nanomsg/blob/master/test/standalone/term.js

not sure what error gets tested. we're just seding or awking there without calling bind or connect.

[2015-09-15 06:15] #111 closed

[2015-09-17 03:14] thelinuxlich commented on #118
One thing that puzzles me is when you think about adding persistence(like Redis) with nanomsg...if every job is being sent to Redis, why not do everything in Redis and ditch nanomsg?

[2015-09-17 16:44] nickdesaulniers commented on #118
Sure, with Redis, you have a hub and spoke model.  The power of nanomsg is the various network topologies that don't require a central broker.

[2015-10-07 21:00] reqshark commented on #106
boom shakalaka!

[2015-10-07 21:00] #106 closed

[2015-10-12 23:18] #119 closed

[2015-10-14 05:46] reqshark opened #123 "the build error: socket connection latencies and endpoint identifiers"
[![Build Status](https://travis-ci.org/nickdesaulniers/node-nanomsg.svg?branch=master)](https://travis-ci.org/nickdesaulniers/node-nanomsg)

@nickdesaulniers likes pushing commits to master ~~and going to bed before the test finishes its run :tada:~~

whatever, at this point we've explored typical JavaScript perspective approaches to an idiosyncratic build error that showed up right after publishi

[2015-10-14 16:27] nickdesaulniers commented on #123
That's a cheap shot.

The last commit I merged was a squashed version of [your PR](https://github.com/nickdesaulniers/node-nanomsg/pull/120) which had [passed tests on travis](https://travis-ci.org/nickdesaulniers/node-nanomsg/builds/85014040) before I squashed and merged it.

[2015-10-14 17:40] reqshark commented on #123
haha sorry, ya it was, but why did it fail? it looks different, it's not a timeout

[2015-10-15 00:56] deepakprabhakara commented on #105
I ran into the same issue and have a potential fix - https://github.com/deepakprabhakara/node-nanomsg/commit/b90fb78c1033b204d3283f6ca1e9a0c7df361c1a

When the send-recv, send-recv state is broken in the reqrep protocol the rep socket ends up in a weird state. This fix calls _stopPollReceive in _receive and _startPollReceive in _send.

@reqshark I can send a pull request if you think this fix look

[2015-10-17 17:46] reqshark commented on #105
@deepakprabhakara, LGTM, please send the PR

[2015-10-19 18:29] nickdesaulniers commented on #105
we should add a unit test, that way we can prove the patch works

[2015-10-19 18:56] nickdesaulniers commented on #105
@deepakprabhakara , if you want, you can add this test case to your PR:

test/bug105.js
[code]

I'll give you a week to send the PR, otherwise I'll just author the patch.

[2015-10-22 07:22] reqshark commented on #105
@nickdesaulniers not author, you mean commit i think? let's just [`--amend` a commit](http://stackoverflow.com/questions/3042437/change-commit-author-at-one-specific-commit) to deepak if the PR doesn't come soon

@deepakprabhakara is the author of the patch. I remember dealing with this problem, and not coming up with anything reasonable or elegant when back when i was writing req/rep and surveyor

[2015-10-22 17:08] nickdesaulniers commented on #105
Is it ok to just take a patch like that without the authors consent?  I would not be comfortable without an explicit confirmation from @deepakprabhakara

[2015-10-22 22:54] reqshark commented on #105
hmmm... makes sense, but i figured the implicit confirmation was:

[2015-10-23 14:51] sirudog opened #127 "Release tags on master branch?"
Hi,

Did you consider using release tags on master branch (and a changelog.md maybe)?
In my Jenkins CI setup I would like to get the 2.1.2 release by referencing a tag, instead of cloning directly the master branch (which is at the moment the latest version, but it is also the main branch for active development), so I can be always sure that even if there are newer releases/code introduced in mast

[2015-10-23 16:44] nickdesaulniers commented on #127
We definitely have plans for a changelog.  We can do tags, too!  Just curious, are you using node-nanomsg in a commercial project; if so, neat!

[2015-10-23 20:59] reqshark commented on #127
+1 no question about it

[2015-10-23 21:03] reqshark opened #128 "update libnanomsg submodule"
we need to checkout a more recent copy of the lib, especially as the ongoing work to better meet RFC standards is taking place upstream

see https://github.com/nanomsg/nanomsg/issues/489

[2015-10-23 21:04] nickdesaulniers commented on #128
Let's wait to grab the WS changes from 489 when fixed

[2015-10-23 21:05] nickdesaulniers commented on #128
but #107 would be fixed now

[2015-10-26 07:41] sirudog commented on #127
Great, thanks!
@nickdesaulniers Not in a commercial project (yet), but working hard on it ... We want nanomsg to be the basis of our microservices solution for our (first internal, then hopefully commercial) platform.

[2015-10-26 17:21] sirudog commented on #35
I understand that. Based on the previous comments (mainly the one by @tcr), what if I would change the build scripts (mainly binding.gyp) to introduce an option: ```use_system_libnanomsg = 'false'.``` (by default false = same way of installing as it is now)
So ```npm install nanomsg``` would still work.
If folks like me would like to link against the already installed libnanomsg, would need to cha

[2015-10-26 18:07] nickdesaulniers commented on #35
What do you think?

I think that would be worthwhile.  While maintaining Windows support is important, I'm not too worried if this specific feature only works on OSX/Linux.  While we don't have pkg-config on OSX, I would expect anything from /usr/lib or /usr/local/lib to be pulled in.

[2015-10-26 18:12] reqshark commented on #35
Go to the zmq module and look at how many "can't install" issues there are. You want that here?

Also I use pkg-config on OS X

[2015-10-26 18:15] reqshark commented on #87
nevermind i dont know what i was thinking here

[2015-10-26 18:15] #87 closed

[2015-10-26 18:16] reqshark commented on #79
we tried this and it didn't really work.

[2015-10-26 18:16] #79 closed

[2015-10-26 18:23] nickdesaulniers opened #130 "unconditionally remove some_address after test runs"
see: https://github.com/nickdesaulniers/node-nanomsg/pull/129#issue-113418669

[2015-10-26 18:24] reqshark commented on #35
passing an option like `--use_system_libnanomsg=true` would be great during development and debugging on the C/C++ lib, since we wouldn't have to wait for libnanomsg to compile!

I'm going to say +1

[2015-10-26 18:25] nickdesaulniers commented on #35
No. But I think if we maintain our defaults, and add additional functionality that power users can opt into if they know what they're doing is ok, and helps us avoid the zmq issues.

[2015-10-26 18:27] nickdesaulniers commented on #87
don't bash yourself.  All ideas are welcome! :birthday: :100:

[2015-10-26 18:31] reqshark commented on #130
it's from `ipc://some_address` not cleaning up

[2015-10-26 18:33] nickdesaulniers opened #131 "remove iojs from travis runs"

[2015-10-26 20:12] #105 closed

[2015-10-26 20:13] nickdesaulniers commented on #105
@reqshark , can you bump the patch level and publish?

[2015-10-26 20:17] reqshark commented on #105
done

[2015-10-26 21:51] nickdesaulniers opened #133 "ws example server and FF"
https://bugzilla.mozilla.org/show_bug.cgi?id=1216237

not sure yet if this is upstream or not.

[2015-10-26 21:56] reqshark commented on #133
oh based on the comment on the bug maybe we need to be handling an upgrade request header on that node server. all i was doing there was piping the readstream to the response stream without opts

[2015-10-26 22:53] #128 closed

[2015-10-26 23:53] reqshark commented on #127
@sirudog I just started doing this. there should be a tag on master with a release now

[2015-10-27 07:34] sirudog commented on #127
@reqshark Wow, that was fast! Thanks a lot! I am changing my CI setup right away...

[2015-10-27 07:34] #127 closed

[2015-10-27 08:38] sirudog commented on #35
OK, here is the PR #134

[2015-10-27 10:36] sirudog commented on #35
Build 221 seems OK, but I had a timeout issue in web sockets tests on io.js (ws socket bus). I have found this issue #110, which seems related.

[2015-10-27 18:43] deepakprabhakara commented on #105
Terribly sorry for the delay in responding to this. Thanks for adding the patch!

[2015-10-27 20:54] thelinuxlich commented on #36
+1000 for this, very important for Node.js

[2015-10-27 22:05] reqshark commented on #35
nice work @sirudog!

[2015-10-27 22:12] nickdesaulniers commented on #35
closed in #134 good job! :rocket:

[2015-10-27 22:12] #35 closed

[2015-10-27 22:14] nickdesaulniers commented on #35
published in 2.1.5

[2015-11-04 17:48] reqshark commented on #110
hmm @nickdesaulniers, our timeout mystery could be related to #505, though admittedly that's more particular to WS timeouts than those we started seeing in September

[2015-11-04 18:24] reqshark commented on #110
-@gdamore

[2015-11-04 23:18] reqshark commented on #133
no dice.

![](https://cldup.com/kWhFfZ7rO3-2000x2000.png)

we can listen for the `require('http').createServer()`'s `'upgrade'` event, but it never hits port `3000`, since `upgrade` request fires from WebSocket constructor directed to pair socket on `:7789`

![](https://cldup.com/tTVU2ikslg-3000x3000.png)

[2015-11-05 03:38] reqshark commented on #107
reopening, i think this is still getting sorted out upstream, see https://github.com/nanomsg/nanomsg/issues/371

[2015-11-20 21:22] #110 closed

[2015-11-20 21:22] #123 closed

[2015-11-20 21:22] #130 closed

[2015-11-20 21:22] #131 closed

[2015-11-20 22:51] reqshark opened #138 "expose new option: socket.rcvmaxsize()"
for background on the new socket option `NN_RCVMAXSIZE`, here's the original planning discussion: http://www.freelists.org/post/nanomsg/issue-with-received-message-size,1

[and from the `nn_setsockopt()` documentation](http://nanomsg.org/v0.8/nn_setsockopt.3.html):

 Maximum message size that can be received, in bytes. Negative value means that the received size is limited only by available addres

[2015-11-25 17:26] nickdesaulniers commented on #138
A sender can't know the receiver's `NN_RCVMAXSIZE` if changed from default, right?

[2015-11-25 17:32] reqshark commented on #138
yea that's right. and moreover, from what I remember looking at the code change in libnanomsg for `NN_RCVMAXSIZE`, if msg sz is too big the connection gets closed...

I'm not sure what to expect after that, we probably need to experiment or maybe add a test to find out, but it seems like a lot of attempts to reconnect is possible under this scenario

[2015-11-25 17:44] nickdesaulniers commented on #110
so updating to 0.8 fixed this?

[2015-11-25 17:47] reqshark commented on #110
well I think it could come back but after the update i couldn't get it to timeout

[2015-11-25 17:56] reqshark commented on #107
this could have been fixed with the 0.8 update, @nickdesaulniers or @thelinuxlich can you confirm?

[2015-11-30 22:08] reqshark commented on #138
hey if anyone want's to send a PR for this socket option, i'd love to review! :eyeglasses:

otherwise I'll plan to get around to it probably next weekend

[2015-12-05 02:10] reqshark opened #139 "ws socket options"
there were some socket options added on ws transport, we'll want to add those

[2015-12-12 07:37] #138 closed

[2015-12-17 01:24] reqshark opened #141 "unexpected surveyor/respondent result"
responses only show up once, and calling `survey()` again later eventually results in:

[code]

[2015-12-17 19:53] reqshark commented on #141
until we fix this, here's a possible work-around:

[code]

[2015-12-23 17:04] Mikke commented on #38
Hello Nick! For the first i want to say thank you for your library! However, i have a two issues to talk about, the first its according to this conversation, i'm sure that implementation of "bus" pattern is not correct, and its shouldn't fired up same event twice in that and any other case, because its one of "original" tasks for message queue service. (http://tim.dysinger.net/posts/2013-09-16-get

[2015-12-23 17:39] Mikke commented on #38
https://github.com/nickdesaulniers/node-nanomsg/issues/38#event-279054299 - at this example missed sockets topology

[2015-12-24 02:00] reqshark commented on #38
bus is implemented correctly. scroll to the bottom of the getting started link you reference to see dups

we do native abstraction this way to switch data back and forth between v8 and JS runtimes.

[2015-12-24 16:43] nickdesaulniers commented on #38
Cool, if you spot something wrong, we're always happy to review patches.

v8 does not expose a C API.  nanomsg and v8 can only be tied together through C++ (or [maybe now Rust](http://calculist.org/blog/2015/12/23/neon-node-rust/)) since v8's functions which we NEED for converting JS types to C types have C++ linkage and a C++ ABI.

[2015-12-24 18:01] reqshark commented on #38
yea it'd be nice if we didnt have to use C++.

You know... in addition to Rust, we could've also used https://github.com/node-ffi/node-ffi, but early on when i just started running some experiments and tests on [a similar binding for iojs](https://github.com/reqshark/nanomsg.iojs) and trying find the best way to write this, I ran a series of performance tests with node-ffi and found that each call

[2015-12-29 18:28] reqshark commented on #141
confirmed to work. the reason i got EventEmitter leak stuff was because I was trying to call survey operations multiple times before `socket.bind(addr)` ever had a chance at TCP ESTABLISH

so giving `bind()` a timeout and connecting the respondents first seems to resolve the issue and the workaround above is therefore unnecessary. I was going to close this issue, except for some slightly unexpecte

[2015-12-29 19:30] reqshark commented on #141
#### prefer `socket.send(msg)` over `socket.survey(msg, cb)`

instead of calling `socket.survey()`, listen for survey socket's data event and call `socket.send(msg)`

given respondents `a.js` and `b.js`:
[code]

[code]

we can gather expected results by listening for the data event, calling `socket.send(msg)` as usual:
[code]

[2015-12-29 19:30] #141 closed

[2016-01-09 14:44] yoshuawuyts opened #143 "How to use AF_SO_RAW / AF_SP_RAW to create Zeromq ROUTER / DEALER equivalent?"
I'm trying to create the following network setup:
[code]

I was looking how to create zeromq's `ROUTER` / `DEALER` in `nanomsg` and stumbled upon a [mailinglist](http://www.freelists.org/post/nanomsg/a-stupid-load-balancing-question,1) answer on how to achieve this.

Nanomsg's creator gave the following response:

This was slightly confusing to me, as I'm not very familiar with the `_RAW` variants

[2016-01-09 17:06] yoshuawuyts commented on #143
Ah, so it appears load balancing is built into `REQ` and `PUSH` sockets, which clarifies the idea behind it a little; we no longer have to think about how to round robin (or in this case, have a multi-tier round robin) to balance the load. All that I'm curious about now is how to wire up the sockets so they're actually connected.

- http://250bpm.com/blog:14

[2016-01-09 17:24] reqshark commented on #143
hey that's a good link, i'm also a fan of: http://250bpm.wdfiles.com/local--files/publications/ietf.pdf

that's right, REQ/REP was designed around the need to distribute precise load balancing tasks among stateless workers. There's also PUSH/PULL, discussed some in #118.

@yoshuawuyts, i think RAW sockets usually need sudo permissions like the low ports, but I'm not 100% if that's the case on ever

[2016-01-09 17:32] reqshark commented on #143
OK I think we only use RAW sockets at the local proxy endpoint, Martin says it's intended for `nn_device()` which is basically `zmq_proxy()` or `xpub/xsub`, etc. from zeromq

here's the better answer: http://www.freelists.org/post/nanomsg/AF-SP-RAW-vs-AF-SP,1

[2016-01-10 02:11] yoshuawuyts commented on #143
Ah right, so `nano.device` / `nano.createDevice` is exposed but not mentioned in the documentation. Mentioning stuff like [`nano.term()`](https://github.com/nickdesaulniers/node-nanomsg/blob/5d8e9da12b4b9d44580c0046b8d0bed19a603319/test/standalone/device.js#L45) might be good to have in there.

It appears there's some tests around `device` and `raw: true`:
- [unidirectional device](https://github.

[2016-01-10 23:43] reqshark opened #145 "docs needed for nn_device"
The nanomsg device api is useful should be documented

Related to #143, we have a device implementation and some tests for it, but none of it is documented.

[2016-01-10 23:46] reqshark commented on #143
yes it would definitely be useful, @yoshuawuyts would you be up for a PR?

[2016-01-11 12:32] yoshuawuyts commented on #145
I took a lil stab at this today, but found I'm still lacking the complete mental models to describe it aptly. Perhaps in a few months I'll be able to revisit this, but I think it'd be preferred if someone else could document this.

[2016-01-11 21:46] #143 closed

[2016-01-27 14:15] aliem opened #146 "Server should not crash on assetion errors from the underlying library"
As the title. I took the ws example changing the protocol to _pub/sub_:

[code]

On the server:

[code]

After a ws.send('') from the client:

[code]

Now I know the client shouldn't send anything over a pub/sub socket but it should never crash the server.

[2016-01-27 14:32] yoshuawuyts commented on #146
:+1: I tend to agree; valid server code should not crash due to invalid client behavior. In this case an error should have been emitted instead.

[2016-01-27 16:58] nickdesaulniers commented on #146
oops, yep we shouldn't try to send strings/buffers of length 0. :fearful:

[2016-01-27 19:53] nickdesaulniers commented on #146
oh: https://github.com/nanomsg/nanomsg/blob/dd23bfb44fd76418cf8f3b897698d210572c4221/src/protocols/pubsub/xpub.c#L138 ??

[2016-01-27 19:54] nickdesaulniers commented on #146
@reqshark this looks like a bug upstream.  There's no error handling, just an always failing assertion that we can't handle.

[2016-01-27 19:57] nickdesaulniers commented on #146
we should hook this up to gdb and get a back trace of the failed assertion. Maybe we can avoid passing anything to that code path if we're a sub socket.

[2016-01-28 11:03] reqshark commented on #146
@nickdesaulniers as I mentioned to you earlier today at PeninsulaJS (which was awesome :tada: ), I couldn't get ws transport to work with pub/sub after the libnanomsg 0.8-beta update.

@aliem, I had some success using ws transport with a pub/sub on libnanomsg around 0.7-beta or thereabouts, maybe it was 0.6-beta. If you need ws://pubsub you might want to try those versions using the system flag wi

[2016-01-28 11:21] reqshark commented on #146
also in your example code you are setting both endpoints to `pub`, one of which has to be `sub` (err.. that being said i wasn't able to get it to work when configured differently)

another thought, something maybe in addition to getting a gdb backtrace on that assertion, might have to do with what we're not exposing visa vie WS socket options at the transport layer.

for example, related to #139,

[2016-01-29 09:11] aliem commented on #146
I'm following the [spec](https://raw.githubusercontent.com/nanomsg/nanomsg/master/rfc/sp-websocket-mapping-01.txt): `pub.sp.nanomsg.org (NN_PUB server, NN_SUB client)`

The pattern itself works nicely but the client can still send messages to the server crashing it. For now I'm using it only for an internal UI, so, security does not matter in my constrained environment but it's definitely an issue

[2016-01-29 14:38] reqshark commented on #146
nice job and thanks for pointing that out!

your example code is correct here, my mistake about those endpoints :+1:

feel free to PR other working `ws` browser examples/patterns, like msgs over pubsub.. also areas of the ws spec like what you mentioned should be documented here and added to the readme

cheers! :beers: to following the spec!

[2016-01-29 19:47] renesamaral opened #147 "router-dealer implementation"
Hi, i'm searching a API to handle messages by two node apps, and i found zeromq and maked some tests with the req/rep pattern using async with multiples clients and multiples workers, using the pattern router-dealer of zeromq with async! can i implement the router-dealer in node-nanomsg with multiples clients making multiples requests via req/rep with load balance ? Thanks and sorry for my english

[2016-01-29 19:57] aliem commented on #147
This is what you are looking for: https://github.com/nickdesaulniers/node-nanomsg/blob/master/examples/pipeline.js

Push and pull sockets. The `push` socket will be your server sending data to the connected `pull` sockets using round robin.

[2016-01-29 20:01] renesamaral commented on #147
Hi! Ty for the fast answer! But in pattern of PULL/PUSH is one directional, correct? I need a REQ/REP, where my client sent a message to a worker execute a process and the worker need to reply the message to my client with a message! With the pipeline example is it possible ?

[2016-01-30 23:40] reqshark commented on #147
sounds like a good use case for nn_device, see #145

[2016-01-31 04:34] reqshark commented on #145
@yoshuawuyts see #147, you know we ought to get this documented

[2016-01-31 04:44] yoshuawuyts commented on #145
yeah, definitely. But I haven't gone deep enough on this to do it quite yet. I'm going to be give a talk about `node-nanomsg` in a month, so I reckon by that time I will be able to do it - but if that's too late then someone will have to do it

[2016-01-31 04:49] reqshark commented on #145
oh nice! We need more talks on `node-nanomsg`! :whale2:

Also can you update this thread with any links about your talk? Or maybe we put a link to resources in the docs (oh but now that's a different PR)

Anyway yea a month is fine, if you see any issues with nn_device implementation also let us know so we can fix, I haven't tried using it personally in a long time

[2016-01-31 04:57] yoshuawuyts commented on #145
hah, alright! I'll try and not forget to contribute back, don't hesitate to ping me if I haven't gravitated back here in a month. Cheers!

[2016-02-08 21:02] #139 closed

[2016-02-10 20:25] #147 closed

[2016-02-23 22:04] reqshark opened #150 "port default option"
do we really need another socket option? for sure.

often I find myself using the same TCP port across machines..  thinking it might be nice to specify a socket's default port as part of it's initial configuration like maybe:

[code]

[2016-02-23 22:41] reqshark commented on #52
#46 #66 #71 #150 #148 #150

[2016-02-24 00:16] yoshuawuyts commented on #150
I think this is reasonable.

[2016-02-24 06:14] reqshark commented on #150
cool i'll take that as a plus one

[2016-02-24 06:28] reqshark commented on #150
@yoshuawuyts go for it if u want to PR it, otherwise hopefully I'll have time this weekend to take a swing myself and muster something up here and could probably use your review...

these things all need to be implemented consistently.. i.e. a sockopt also means `socket.port(1984)`

also i want to address @nickdesaulniers' point in #52, the essence of which seems to be: *while testing libnanomsg o

[2016-02-25 03:28] nickdesaulniers commented on #150
:+1:

[2016-02-25 03:41] yoshuawuyts commented on #150
@reqshark happy to review, won't have time to PR it before this weekend

[2016-02-25 22:04] reqshark commented on #145
nice talks notes, great diagrams.. like:
[code]
can we add stuff like that on the node-nanomsg readme? also my 3 cents: https://github.com/yoshuawuyts/talks/pull/2

[2016-02-26 00:49] yoshuawuyts commented on #145
Oh yeah, that'd be cool! I've got a whole collection of 'em on https://github.com/yoshuawuyts/knowledge/blob/master/arch/patterns.md

[2016-03-02 23:18] reqshark opened #151 "memory leak"
PollSendSocket leaks. At least valgrind thinks so.

[code]

cc: @nickdesaulniers, @kkoopa, @tcr

[2016-03-02 23:28] kkoopa commented on #151
False alarm. It says possibly lost. Valgrind does not know about finalizers (and cannot reasonably be expected to). V8's garbage collector will clean it up when it sees fit to do so.

[2016-03-02 23:30] reqshark commented on #151
I don't see the allocation here getting freed: https://github.com/nickdesaulniers/node-nanomsg/blob/master/src/node_nanomsg.cc#L216 (starting a new libuv poll context)

why would that out of scope allocation be V8's responsibility?

and I doubt it would be libuv's responsibility to free it

[2016-03-02 23:39] reqshark commented on #151
@kkoopa I think we got a legit leak here, but yeah I see your point, not knowing about finalizers means there's a fair chance it's a false alarm..

is there a way I can trigger a GC?

I want to find out what valgrind thinks right after a GC event

[2016-03-02 23:41] kkoopa commented on #151
Aha, I thought it was related to that patch I submitted a week ago. Nevermind then. The problem here is that `WrapPointer` always sets an empty free function, which is only appropriate for static memory, since that should not be freed. Make another WrapPointer function which does free the `Buffer`'s memory and use that for this. Since the memory is allocated with `calloc`, you need not set a free

[2016-03-02 23:44] reqshark commented on #151
OK cool.. :rocket: i'm gonna do some digging around and report back :wrench:

[2016-03-02 23:51] kkoopa commented on #151
`PollReceiveSocket` appears to have the same problem. As `WrapPointer` is only used in those two functions, you can probably change the definition of `WrapPointer` not to set a free callback. However, it then becomes the responsibility of the javascript code to keep a reference around to the socket so it won't get garbage collected. `UnwrapPointer` only appears used from `PollStop`, which takes th

[2016-03-03 00:03] reqshark commented on #151
totally agree, but for one minor point:

it's accepting the wrapped context, see [here where that gets returned](https://github.com/nickdesaulniers/node-nanomsg/blob/master/src/node_nanomsg.cc#L225), and [in JS](https://github.com/nickdesaulniers/node-nanomsg/blob/master/lib/index.js#L200) before it's later used in `PollStop`

i think when we start doing multiplexing we oughtta check for the prese

[2016-03-03 00:13] reqshark commented on #151
also we're setting that buffer (context) to [`null` in JS](https://github.com/nickdesaulniers/node-nanomsg/blob/master/lib/index.js#L216) without deallocating, that's where it's getting lost

[2016-03-03 00:15] kkoopa commented on #151
Context / socket, tomato / tomato. I must confess I did not actually read the code. I am merely speculating. The easiest way is probably to maintain an invariant on the javascript side. Set the variable to `null` when it is not needed any longer. Then there should be no more references around to the socktext, it will eventually get garbage collected and the free callback will get called, which sho

[2016-03-03 00:21] reqshark commented on #151
haha, that's awesome. Yea one of the big nanomsg benefits is that sockets are no longer contexts, (as they are in ZeroMQ), here they're just an `int` you can pass to `nn_recv` or `nn_send` or `nn_bind`, etc..

for now I think the simplest fix will be to follow what's being represented up in JS land, and later we might try to optimize the module by reducing the number of system calls associated w/

[2016-03-03 00:42] reqshark commented on #151
ugh, easier said than done..

freeing the context seems to eliminate the mem leak, but crashes w/ inproc in a weird way..
[code]
if wrapping the pointer imbues it as a v8 reference, am I trying to free v8 memory there after the call to `uv_poll_stop`?

[2016-03-03 00:54] kkoopa commented on #151
Yes. Just keep the code as is, apart from changing https://github.com/nickdesaulniers/node-nanomsg/blob/master/src/node_pointer.h#L22 to `return Nan::NewBuffer(static_cast<char *>(ptr), length)` and removing `wrap_pointer_cb`.

[2016-03-03 01:01] reqshark commented on #151
ok interesting,

yea freeing that structure seems problematic especially once its `Nan::Callback` gets initialized

[code]

[2016-03-03 01:03] kkoopa commented on #151
Add a destructor to it.

On March 3, 2016 3:01:07 AM GMT+02:00, Bent Cardan <notifications@github.com> wrote:

[2016-05-11 05:32] reqshark opened #152 "linux assertion failed: 8 == NN_USOCK_STATE_ACTIVE"
I had the following assert crash my program on linux:

[code]

and https://github.com/nanomsg/nanomsg/issues/645 appears to be fixed upstream https://github.com/nanomsg/nanomsg/issues/663

so we'll have to cut an update for that shortly

[2016-05-11 05:56] reqshark commented on #152
heh, well just kidding, this isn't ready yet... :fallen_leaf:

[2016-05-11 08:22] #152 closed

[2016-05-13 07:32] nickdesaulniers commented on #152
:fireworks:

[2016-05-21 09:58] 0x452 opened #154 "windows: some problems when im compiling"
hello everyone,

when im compiling node-nanomsg i get a lot of errors:
`cannot open include 'nn.h'`

i had installed simple nanomsg and other stuff but it still not working

[2016-05-21 12:56] yoshuawuyts commented on #154
@swiftS2K what version of `node` and `npm` are you running? Could you perhaps post the full `npm-debug.log` output? Thanks!

[2016-05-21 13:06] swiftS2K commented on #154
thanks for answering
[npm-debug.txt](https://github.com/nickdesaulniers/node-nanomsg/files/275867/npm-debug.txt)

[2016-05-21 18:39] yoshuawuyts commented on #154
Looks like you're running on Windows - I'm not overly familiar with it, and don't have access to a machine running it, so I think I won't be any help here :|

Perhaps consider running Node inside a VM? Maybe one of the maintainers knows what's up? Good luck!

[2016-05-23 07:49] reqshark commented on #154
thanks @yoshuawuyts, yea windows is currently unsupported.

@swiftS2K, please help fix our windows build with a PR!

i plan to look into it this week, we should try to make it work on windows for the nanomsg beta-09 update

[2016-05-31 13:28] reqshark opened #155 "beta-09 changes"
beta-09 is ready to go for unix on a release WIP branch candidate: https://github.com/nickdesaulniers/node-nanomsg/commits/0.9-beta

• nanomsg `term()` is a little different now (more POSIX-like according to @gdamore)
• IPC protocol and its leftovers have been revamped *
• new [`nn_get_statistic` API](http://nanomsg.org/v0.9/nn_get_statistic.3.html) gives us programatic access to socket activity

[2016-06-02 23:45] reqshark commented on #155
actually lets do a beta 09 now and plan on releasing 1.0 with full windows support

see last line of this email if you read nothing else: http://www.freelists.org/post/nanomsg/bind-is-synchronous-mostly

[2016-06-02 23:57] #155 closed

[2016-06-04 10:39] janflyborg opened #156 "Pub/Sub stops after first message has been received."
I am absolutely new to nanomsg, so I might be doing something really stupid, but I can't get this simple PUBSUB example to work:

[code]
Running this gives me:

[code]

And then there is nothing more (even if the node process does not exit). I would expect the setInterval to do this repeatedly, but after the first message has been received there is nothing more.

Any ideas? I have tried this on no

[2016-06-04 20:51] yoshuawuyts commented on #156
Ah, it appears if `sub2` is removed, it works again - digging further.

[2016-06-04 20:52] yoshuawuyts commented on #156
Ah alright, so `sub1` starts blocking when a message of `topic2` is sent - digging further.

[2016-06-04 20:57] yoshuawuyts commented on #156
`inproc://` is the same as `tcp://`

[2016-06-04 20:59] yoshuawuyts commented on #156
[This test](https://github.com/nickdesaulniers/node-nanomsg/blob/399ad1188c1518ee44ca75ae1bc131006cbe4991/test/chan.js#L105-L142) makes it appear as if it should work, hmmmmm

[2016-06-04 21:02] yoshuawuyts commented on #156
Validated, this code works:
[code]

[2016-06-04 21:03] yoshuawuyts commented on #156
Still works using `tcp://` - digginggggggg

[2016-06-04 21:12] yoshuawuyts commented on #156
Alright, it's also not the case that in a `nextTick` errors are being handled differently. This works fine:
[code]

[2016-06-04 21:29] reqshark commented on #156
wait, you have to understand that the way libnanomsg handles adding and removing channel subscriptions involves some extra latency before the channels are set/unset

[2016-06-04 21:30] yoshuawuyts commented on #156
Alright, think I found a bug. In the above example this works:
[code]
But this breaks:
[code]

[2016-06-04 21:32] yoshuawuyts commented on #156
@reqshark yeah, I know - `setInterval()`'s first call doesn't run on the same tick I believe, so `nanomsg` should have had enough time to setup all channels. Or is my thinking off here? Afaic we're not setting + unsetting channels all the time; just filtering messages on subscribers right?

[2016-06-04 21:34] reqshark commented on #156
tick ordering doesn't matter at all to libnanomsg.

are you saying setting 1 channel doesn't work?

[2016-06-04 21:35] yoshuawuyts commented on #156
Yes. Repro:
[code]

[2016-06-04 21:38] reqshark commented on #156
k thanks, yea i'm not a fan of this code: https://github.com/nickdesaulniers/node-nanomsg/blob/master/lib/index.js#L440

We need to fix this

[2016-06-04 22:30] yoshuawuyts commented on #156
More error cases:
[code]
[code]

[2016-06-05 09:25] janflyborg commented on #156
Thanks for looking into this. I thought I had missunderstod the whole concept.

@yoshuawuyts: Your last two error cases actually seem to work on my setup.

The first one gives me
[code]

and the last one gives me:
[code]

[2016-06-05 10:02] yoshuawuyts commented on #156
Oh hah I did, `setTimeout` not `setInterval` - oops :grin: - `setInterval` doesn't work tho

[2016-06-05 10:02] reqshark commented on #156
@janflyborg the last seems to work for me on osx w/ same exact results, but not so for the penultimate

[2016-06-05 10:35] reqshark commented on #156
oh this is cool actually. this proves the thing works as intended, which is not always easy to test

I'll explain how the logic set up in that [2nd to last test](https://gist.github.com/reqshark/92f5d3bc936f663d6cbe2c32e82ee806) helps demonstrate working channels:
• there's only one `foo` msg sent in 2nd to last test case
• we pre-increment msgs until more than one `foo` msg is recv'd before closi

[2016-06-05 10:54] yoshuawuyts commented on #156
I don't get this :|

[2016-06-05 10:55] janflyborg commented on #156
Me neither...

[2016-06-05 11:04] reqshark commented on #156
my explanation only debunks one additional test case we thought demonstrated the bug

we still have not dealt with the original bug case of this issue, so lets return to the original case `topic1` socket and `topic2` socket..

why when removing sub2 (`topic2`) socket code messages from topic1 interval appear?

[2016-06-05 11:11] reqshark commented on #156
[code]
this breaks when adding sub2 commented out code.. why does adding another arbitrary subscription socket matter here? this is what needs to be fixed.

[2016-06-05 11:19] reqshark commented on #156
@janflyborg thanks for bringing this to light. my advice for now is do your own filtering protocol on top of default nanomsg subscription until this is resolved.

[2016-06-05 11:28] janflyborg commented on #156
OK. I see, Thanks for the help everyone. In the service I'm planning to use nanomsg for, I only have a handful of nodes, so receiving all messages and doing my own filtering should not give much of a performance impact (I guess).

[2016-06-05 14:30] reqshark commented on #156
you can get nanomsg performance with a separate process for those subscription sockets/nodes

the bug seems to arise while simultaneous subscription sockets maintain distinct channel topics pointed to the same publisher while running in the same script/process.  In practice, this doesn't seem likely, since, in this case, a single subscription socket should be registered to multiple topics

[2016-06-05 16:43] janflyborg commented on #156
OK. In that case i won't affect me at all, since I will use this for load-balancing between processes.

[2016-06-10 15:40] deepakprabhakara opened #157 "--use_system_libnanomsg=true is broken after the update to 0.9-beta"
Because the pkg-config file include directory is now "/usr/local/include" and not "/usr/local/include/nanomsg" using the flag above causes the build to fail since it can't find <nn.h>

Fix would be most likely in binding.gyp to modify the include dir read from the pkg-config file. Also from 0.9-beta onwards the pkg-config file has changed from libnanomsg to nanomsg.

I'll probably get around to se

[2016-06-11 19:57] reqshark commented on #157
thanks Deepak, yea we should probably add the additional path

[2016-06-16 19:33] 0x452 commented on #155
Thanks alot ☺

[2016-06-18 09:55] 0x452 commented on #154
@reqshark problem still exist :(
i can not build on windows

[2016-06-18 18:04] reqshark commented on #154
i know sorry been really busy lately

[2016-06-19 00:02] nickdesaulniers commented on #154
From the [logs posted](https://github.com/nickdesaulniers/node-nanomsg/issues/154#issuecomment-220776870), it looks like the reporter tried to install with:
`npm install nanomsg --use_system_libnanomsg=true`.

So whatever commit added support for that option wasn't tested on Windows.  I don't think this is a regression; I think it never worked in the first place.

[2016-06-20 00:47] reqshark commented on #154
@nickdesaulniers that's right, but at a minimum we ought to be able to run the module on windows

[2016-06-21 03:33] #154 closed

[2016-06-21 03:59] reqshark commented on #154
@0x452, can you try installing `nanomsg@3.2`?

3.2.0 updates libnanomsg to release version 1.0, also bringing back Windows support in node-nanomsg

[2016-06-21 14:10] janflyborg opened #158 "Cannot make simple surveyor/respondent example to work"
Trying to make a simple surveyor/respondent example with the following code, but the surveyor fails after the first survey has been completed. As usual I might doing something completely wrong, since I am new to this library. Any ideas?

This is my surveyor:

[code]

And this is my respondent:

[code]

And the output from the surveyor looks like this:

[code]

[2016-06-21 16:56] reqshark commented on #158
yea that's right, surveyor/respondent doesn't work as expected.  Unfortunately the fix is non-trivial

As a work-around, close and reopen your surveyor socket over the duration of your survey intervals:

[code]

[2016-06-21 19:26] janflyborg commented on #158
OK I see. Thanks for the help.

Is this a problem with nanomsg itself or is it just this binding? Are these quirks documented somewhere? I've tried two things with nanomsg so far and both of them has lead to a new bug report, which makes me wonder if I can use this for production.

[2016-06-21 20:00] reqshark commented on #158
no problem, and thanks for raising good issues!

All these protocols are best written in C.

If you're using JavaScript, however, I've found PUB/SUB and REQ/REP are fit for production, but SURVEY/RESPONDENT is a bit temperamental.

[2016-06-22 17:29] antitoxic commented on #157
I tried doing:
[code]

But I'm getting:

[code]

[2016-06-27 10:01] alimousazy commented on #156
I have the same issue, when the first sub get the message. The other one stop receiving any messages or survey query.

[2016-06-27 10:49] alimousazy commented on #156
Changing the socket to non blocking solved the problem for me

  var msg = nn.Recv(this.binding, nn.NN_DONTWAIT);

@reqshark

[2016-06-27 14:00] reqshark commented on #156
@alimousazy, could you send a PR?

[2016-06-27 17:09] alimousazy commented on #156
@reqshark Here is a pull request https://github.com/nickdesaulniers/node-nanomsg/pull/160, thanks for helping out.

[2016-06-27 17:19] #156 closed

[2016-06-28 01:22] nickdesaulniers commented on #157
`node-gyp rebuild --use_system_libnanomsg=true --verbose` might help

[2016-06-29 20:09] 0x452 commented on #154
@reqshark yes, that works. thanks!

im so late :laughing:

[2016-06-29 21:30] reqshark commented on #154
awesome, glad we got it fixed for windows!

[2016-07-02 18:08] nickdesaulniers commented on #154
💥 🎉

[2016-07-20 16:46] #157 closed

[2016-09-19 19:22] esatterwhite opened #163 "PUB/SUB Over websockets"
I'm assuming this is a constraint of the nanomsg library, but is it possible to use the pub/sub sockets with a websocket transport? I was able to use the `pair` type as shown in the examples, but it won't connect using pub sub.

Does it only work with 2-way socket types?

[2016-09-19 21:56] reqshark commented on #163
pub sub works, and if you're using it in a browser, verify [mapping] (https://raw.githubusercontent.com/nanomsg/nanomsg/master/rfc/sp-websocket-mapping-01.txt)

[2016-09-20 00:52] esatterwhite commented on #163
Yeah, Im just running the ws example in this project. changed the client to `sub.sp.nanomsg.org` and the server to a `pub` socket type, The hand shake never completes and nothing will ever make it to the client. I put a send command in an interval and still nothing.

[2016-09-20 00:52] esatterwhite commented on #163
Also, how would you add a subscription in the browser ?

[2016-09-20 01:34] reqshark commented on #163
client and server paradigm is not always helpful when doing nanomsg.  better to talk about endpoints and socket types. we bind subscribers and just as we bind publishers... and likewise with connect and all other interchangeable socket types.

anyway let's take a look at your your use case and see if we cant get something to work based on the example:

### `server.js`:
[code]

### `index.html`:
[c

[2016-09-20 02:06] esatterwhite commented on #163
Ah, so the browser connection mapping needs to match the server. That wasn't apprently clear. I was using `pub` on the server and `sub` in the browser.

[2016-09-20 02:14] esatterwhite commented on #163
Is there a way to specify subscriptions on in the browser `sub` socket?

[2016-09-20 03:42] reqshark commented on #163
Exactly, nanosmg websocket options in the browser === not intuitive.

you mean like setting subscription channels? i don't think so, the issue came up once on libnanomsg, and from what i remember the answer is no

[2016-09-20 16:56] reqshark commented on #133
looks like a fix is in the works upstream https://github.com/nanomsg/nanomsg/issues/783

[2016-09-21 17:25] FZFalzar opened #164 "v3.2.2 with --use_system_libnanomsg=true build failing on windows"
Hi, I'm trying to build the latest version on Windows, all prerequisites installed but I'm getting this error if I try to specify the --use_system_libnanomsg flag as per #157
[code]

and if I build without I am getting LNK2001 errors:
[code]

Funnily enough, if I build the v3.2.0 version the install works properly

[2016-09-21 22:18] nickdesaulniers commented on #164
idk too much about the Windows stuff.  I'd be curious to see what's changed since 3.2.0 since it sounds like this is a regression.

[2016-09-22 04:31] reqshark commented on #164
yea `--use_system_libnanomsg` install flag has never worked on windows

[2016-09-22 20:05] nickdesaulniers commented on #164
@FZFalzar when you said `the v3.2.0 version the install works properly` is that with the `--use_system_libnanomsg` flag?

@reqshark points out it never should have, so this is just missing functionality, not a regression.

[2016-09-23 06:39] FZFalzar commented on #164
Hi @nickdesaulniers ,

I did not specify the use_system_libnanomsg flag when building just using ```npm i nanomsg@3.2.0```

[2016-09-23 18:10] reqshark commented on #164
@FZFalzar what happens when you run `npm i nanomsg@3.2.2` on windows?

[2016-09-24 01:39] #164 closed

[2016-10-14 08:49] k-keisuke commented on #151
I have encountered this and tried to fix by refering to your proposed codes.
The memory leak is resolved but segmentation fault sometimes occurs.
I'm analyzing this cause. Could you advice something please ?

[code]

[code]

[2016-10-14 18:44] reqshark commented on #151
@k-keisuke thanks for fixing the memory leak. I'm testing your fix today.

What does the output message from segmentation fault look like? Is there any assertion or debug message or does that seg fault go down with a silent exit?

[2016-10-14 20:16] kkoopa commented on #151
That ToLocalChecked is a likely culprit.

On October 14, 2016 9:44:54 PM GMT+03:00, Bent Cardan <notifications@github.com> wrote:

[2016-10-19 07:10] k-keisuke commented on #151
Thanks.
Output message is "Segmentation fault" only. But I obtained back trace.
It seems that there is something at garbage collection on the occasion of arbitrary JavaScript app code.
(double free?)

[code]

Sorry I can't understand.
(ToLocalChecked is only assert and getter, I think.)

[2016-10-19 07:22] nickdesaulniers commented on #151
While the stack trace mentions JSON parsing, I doubt it was the culprit.  I bet things went like:

1. Allocate an object off of v8's heap.
2. Give it to v8's GC to manage.
3, Free/delete it via our reference, without letting v8 know.
...some time later...
4. parse some json
5. allocate some memory for the json parser
6. memory pressure triggers gc
7. gc double frees dangling pointer

[2016-10-19 07:25] nickdesaulniers commented on #151
we could build this lib with `-fsanitize=address` to help find this.

[2016-10-19 19:52] rockymadden opened #166 "req sending queue when disconnected fails to send all upon reconnect"
## Expected Behavior
A `req` socket is created and connected to an agreed upon address, more than one message is sent via `send`, a matching `rep` socket is created and bound, `req` receives all `req` messages that were in the sending queue on `req`.

## Expected Behavior
A `req` socket is created and connected to an agreed upon address, more than one message is sent via `send`, a matching `rep` s

[2016-11-07 12:05] k-keisuke commented on #151
Segmentation fault occurs in only this fix, I found.
[code]
I think this fix means I delegate freeing ptr to V8 garbage collector.  (referenced to following link)
https://github.com/nodejs/nan/blob/master/doc/buffers.md#api_nan_new_buffer
But, did garbage collector free a ptr twice?

[2016-11-23 01:11] gdamore commented on #100
FYI: I'm planning to rip out the NN_ALLOC_MONITOR facility.

[2016-11-23 12:47] reqshark commented on #100
cool thanks for the heads up @gdamore!

looks like you're simplifying things upstream and got rid of ebase too

[2016-11-23 14:41] deepakprabhakara commented on #151
I am seeing a steady growth in heap and rss memory in one of our production services that heavily uses req-rep protocol. Are there any updates on a fix for this issue?

[2016-11-23 20:49] nickdesaulniers commented on #151
Does someone have a simple JS test case that repro's this?  I'm happy to hook up ASAN to this to try and spot the leak.

[2016-11-24 11:38] deepakprabhakara commented on #151
@nickdesaulniers Here's a simple test that send a req request every 10ms - https://github.com/redsift/node-nanomsg-leak-test . You can take heap snapshots by sending a 'kill -USR2 <pid>'. Inspecting the heap in Chrome dev tools shows no leaks in js code but the 'System Objects' size increases steadily. Thanks for looking into this.

[2016-11-24 21:25] reqshark commented on #151
what i'm seeing after running @deepakprabhakara's [test case](https://github.com/redsift/node-nanomsg-leak-test):

[code]

[2016-12-01 12:48] deepakprabhakara commented on #151
Hi @nickdesaulniers, just wondering if you had any success spotting the leak using ASAN.

[2016-12-01 18:46] deepakprabhakara commented on #166
@rockymadden You'll need a queue to overcome this issue. It's one of those quirks of bridging the async world of javascript with the sync world of C. Since a req socket is supposed to operate in the "send -> recv -> send -> recv -> ..." pattern you'll need to buffer your sends until a 'data' event occurs (which signifies the recv event). At the end of the 'data' handler check if your queue has any

[2016-12-03 05:10] reqshark commented on #166
i tend to avoid req/rep and just use pub sub over TCP.

TCP transport at the kernel requires packet ACK (msg recv confirmation) and retransmit, so message loss is nonexistent so long as endpoints have access to the network routing system. And if you're doing `inproc` or `ipc`, a req/rep makes even less sense because modern kernels guarantee both order and msg delivery at the machine. that's why UN

[2016-12-08 18:35] deepakprabhakara commented on #151
I tried running it with asan=true but end up with this on Mac Sierra:-

-----
==8057==ERROR: Interceptors are not working. This may be because AddressSanitizer is loaded too late (e.g. via dlopen). Please launch the executable with:
DYLD_INSERT_LIBRARIES=/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/lib/clang/8.0.0/lib/darwin/libclang_rt.asan_osx_dynamic.dylib

[2016-12-10 23:17] nickdesaulniers commented on #151
@deepakprabhakara sorry, see my commit message for the asan patch (latest).  You don't run with any env vars set.  You build the library with a gyp arg, then everything should just work.  Problem is we get a segfault off the bat. I don't have time to track down what that is.

[2016-12-13 03:31] m-ohuchi commented on #151
I sent pull request to fix this memory leak as above. Please check the detail. Thanks.

[2016-12-14 07:29] reqshark commented on #151
thanks @m-ohuchi i'm looking at it

[2016-12-15 16:12] deepakprabhakara commented on #151
Thanks @m-ohuchi, nice work!

[2016-12-18 05:27] nickdesaulniers commented on #151
@deepakprabhakara, @reqshark how long do you have to run the test case to repro?  I can run the test against master with no leaks.  I did change the require to `require('..')`

[2016-12-18 05:50] nickdesaulniers commented on #151
memwatch-next doesn't even compile for node v7.2.1.  What version of node was used to repro this?  https://github.com/marcominetti/node-memwatch/issues/24

[2016-12-18 06:14] nickdesaulniers commented on #151
ah got it, you have to run it for a very long time.  We should find out a way to speed that up and add it to our test suite.

[2016-12-18 07:09] nickdesaulniers commented on #151
I really really don't want to have to maintain code with synchronization.  The double call of `free_context` is weird and it seems to be heavy handed to use mutexes for doing essentially reference counting.

At the risk of having to maintain that, I've authored https://github.com/nickdesaulniers/node-nanomsg/pull/169 which takes the same approach of using `uv_close` rather than `uv_poll_stop`, but

[2016-12-19 05:46] m-ohuchi commented on #151
Thanks @nickdesaulniers to accept my code. I'm glad I could contribute this project.

    I really really don't want to have to maintain code with synchronization. The double call of free_context is weird and it seems to be heavy handed to use mutexes for doing essentially reference counting.

I think so, too. I don't mind your changes to my code, I know synchronization often cause a problem and a

[2016-12-19 06:33] nickdesaulniers opened #170 "add memory leak test"
continuing from issue #151, at commit cfa6ca76b734d2dfeeabd347f2f83bf0c2761d3f (version 3.2.3) we know we had a memory leak based on running @deepakprabhakara 's leak test https://github.com/redsift/node-nanomsg-leak-test for ~10-20 minutes.

We should find a way to speed up that test, and check it in to our test suite.  By checking out the know bad commit (`git checkout cfa6ca76b734d2dfeeabd347f2

[2016-12-19 12:33] deepakprabhakara commented on #170
Should be possible if we reduce the timer interval and also create more rep sockets on a range of ports. And nodejs can be run with the '--expose-gc' flag to call global.gc() manually.

[2016-12-19 20:39] nickdesaulniers commented on #170
I wonder if there's anything we can do to force pressure on the GC, like create a lot of objects?

[2016-12-20 00:32] deepakprabhakara commented on #170
@nickdesaulniers Here's one that leaks within 5 seconds - https://github.com/redsift/node-nanomsg-leak-test/commit/c2835b6bc476686ae2c2551b172a984080b26178

We can do better if needed.

[2016-12-20 12:29] deepakprabhakara commented on #170
Here's a better one - https://github.com/redsift/node-nanomsg-leak-test/commit/7fc0a91092ec1bdb9fd7814d0d51a47caeda1ec0

[2016-12-20 17:45] nickdesaulniers commented on #170
Great thanks. I'll try it when I get home. can you add a compatible license
or send a PR?

On Dec 20, 2016 7:29 AM, "Deepak Prabhakara" <notifications@github.com>
wrote:

Here's a better one - redsift/node-nanomsg-leak-test@7fc0a91
<https://github.com/redsift/node-nanomsg-leak-test/commit/7fc0a91092ec1bdb9fd7814d0d51a47caeda1ec0>

—
You are receiving this because you were mentioned.
Reply to this

[2016-12-20 18:48] deepakprabhakara commented on #170
Sure, I'll try to drop it in as a test and send a PR.

[2016-12-20 18:55] #151 closed

[2016-12-20 19:04] deepakprabhakara commented on #170
I've also added an MIT license in the meantime.

[2016-12-21 02:23] nickdesaulniers commented on #151
Thanks for your code pointing to where the leaks were occurring. Thanks all, it's good to get long standing issues resolved.

[2016-12-22 22:07] deepakprabhakara commented on #151
Thanks everyone, excellent work closing the leak!

[2017-01-19 05:37] dremekie opened #171 "Load balancing with REQ and REP"
Looking at #143  I see mention of built-in load-balancing with REQ

@reqshark mentions: `REQ/REP was designed around the need to distribute precise load balancing tasks among stateless workers`

Could you provide an example of this (perhaps in /examples)? Is a device actually needed?

Thanks much

[2017-01-21 06:51] reqshark commented on #171
the pattern w/ automatic load balancing is `PUSH/PULL`, see #118.

`REQ/REP` provides a full manual control mechanism for constraining backpressure, since `REQ` won't fire again until the next `REP` msg. Building out your load balancing topology with `REQ/REP` seems less *builtin* to me. Here's how I see it:

🏎  **`REQ/REP`:** 5 speed manual transmission with a heavy clutch

🚐  **`PUSH/PULL`:** lu

[2017-03-04 23:23] #171 closed

[2017-03-04 23:30] dremekie opened #172 "An example for streams with back pressure"
Take the following two files:

push.js
[code]

pull.js
[code]

Two observations.

1. When both push.js and pull.js are started, only a cartain number of lines are written before the following occurs:

[code]

The same occurs when using basic filestream. fs.createReadStream('/Users/dwayne/Documents/projects/test/big-file.json').

Why would this happen?

2. When push.js is running and pull.js is not

[2017-03-05 00:23] reqshark commented on #172
interesting error. I'm curious:
* what operating system are you running?
* can you replace your current nanomsg module w/ the branch i just made?

[code]

and then after that run your push/pull sockets in the same way. does that fix anything?

[2017-03-05 00:33] reqshark commented on #172
@dremekie, got another question:

what happens when you use tcp protocol instead of ipc?

[2017-03-05 00:38] reqshark commented on #172
also.. just thought of a way easier alternative to cloning that branch: `npm i nanomsg@3.2.0`

[2017-03-05 01:24] dremekie commented on #172
@reqshark will give it a go and report back shortly

[2017-03-05 01:27] dremekie commented on #172
also... using Mac OSX

[2017-03-05 01:41] dremekie commented on #172
@reqshark That solved problem #1 above. Thanks very much.

For #2, the issue is still there. So this now comes down how streams are implemented. There seems to be no back pressure. I read from a filestream (a very large file) and I pipe to the PUSH socket. In my case, it queued up pushed content until there was no more memory left and crashed the process.

Is there a way for the receiving PULL soc

[2017-03-05 03:06] reqshark commented on #172
yea at this point our PUSH/PULL sockets aren't too useful--it's just round-robin.

An intermediary between your source data stream and the PUSH socket, like a transform throttling mechanism might help.

And sure, we could set the library/kernel `setsockopt()` to block (or not) during `send()` operations, but doing so would be pointless if JavaScript land eventloop is not completely aligned, i.e. b

[2017-03-05 03:45] dremekie commented on #172
Understood. Thanks for the information.

[2017-03-05 03:45] #172 closed

[2017-03-05 04:44] reqshark opened #173 "NN_DONTWAIT triggers JS stream/event error for PUSH ipc:// under msg load"
protocol might not matter, but some cause and effect observed in #172, reported by @dremekie:

[code]

Resource temporarily unavailable is associated with `EAGAIN` or `EWOULDBLOCK` -[`errno` man page](http://man7.org/linux/man-pages/man3/errno.3.html)

`NN_DONTWAIT` puts the socket into non-blocking I/O mode, which may lead to either an `EAGAIN` or `EWOULDBLOCK` when the send buffer is completely

[2017-03-05 04:46] reqshark commented on #172
@dremekie, np!

and thanks for uncovering the bug in #173 :)

[2017-03-06 07:12] nickdesaulniers commented on #173
Seems easy and straightforward.  With documentation, it shouldn't be too bad for users to figure out when they need this.

lower mental burden for users, but not sure that those are the only cases that we need them.

In general, I think I prefer to expose more low level (where we maintain C++ to JS translation layer).  If someone wants to build a higher level abstraction on top of us, we provide t

[2017-03-06 17:09] reqshark commented on #173
thanks @nickdesaulniers!

yea, great point

so i think we can kill two birds with one stone here by setting defaults that make sense, like in the case of PUSH or `ipc://` and expose the option to override our defaults

I'll work on something like that and try to get a PR out later this week :)

[2017-03-13 05:11] #173 closed

[2017-03-15 03:16] liukun commented on #96
I really need a limit to PUSH, then wait PULL consume some before PUSH more.

After examine, I think check the underlying `Socket.queue` length is a workaround.

[code]

[2017-04-26 20:33] rosc77 opened #175 "Build fails with MS Visual Studio 2017"
When doing a 'npm install nanomsg', the build fails: MSBUILD : error MSB4025
Platform is Windows 10 x64.

`
gyp ERR! build error
gyp ERR! stack Error: `msbuild` failed with exit code: 1
gyp ERR! stack     at ChildProcess.onExit (C:\Program Files\nodejs\node_modules\npm\node_modules\node-gyp\lib\build.js:276:23)
gyp ERR! stack     at emitTwo (events.js:106:13)
gyp ERR! stack     at ChildProcess.emi

[2017-04-26 20:37] reqshark commented on #175
thanks for the report @rosc77, i'll take a look

[2017-06-23 06:38] kschiess opened #176 "REQ/REP message ordering looses messages"
I am trying to send multiple messages through req/rep. This works for simple examples where I just send a single message - but as soon as there is more than one req, I only see some of the reps.

I expect this test to succeed:

[code]

Typical output looks like this:

[code]

In a nutshell, the 'rep' server only sees messages 1 and 3, answers to both, but since 3 has already been read before sendi

[2017-06-23 07:03] reqshark commented on #176
what operating system? is it the same for `inproc` as `tcp`?

btw I think `inproc` is slightly busted on this version of libnanomsg, it's definitely worse on some systems than others.. so we ought to update our libnanomsg version, haven't done that in a while

there are two things I would do to improve this test..

1. don't send immediately in the same eventloop tick as calling connect() and bind(

[2017-06-23 08:21] kschiess commented on #176
This happens on all modes of transport.

Re 1: The first message reaches the rep server successfully. So it seems to me that sockets are set up. I was expecting to maybe loose the first message due to setup, but once messages get through, no thing should be lost. What happens here (loosing message 2) is a bug.

Re 2: My expectation from the exposed interface ('data' event) is that for every req se

[2017-06-23 09:16] reqshark commented on #176
thanks for embellishing on a couple points i skipped in your first message, namely:

based on your test output, to me it looks like **recv/REP is only getting called twice**, because after the first req.send, the rep has not replied yet; any and all subsequent premature calls to req.send are bound to be dropped or ignored.

one way to fix that would be to check for a library error code. If one was

[2017-06-23 11:48] kschiess commented on #176
Fair enough; I see your position and I feel you see mine. I'll try to come up with some actual code to support my position, then we can discuss the details.

[2017-07-07 14:57] sampsongao opened #177 "N-API Support for node-nanomsg"
The recently announced Node 8 has a new experimental feature called N-API which is aimed at reducing maintenance cost for node native addons. Checkout this blog for more details on its benefits.

Module `node-nanomsg` is one of the top 30 native modules by dependency count, and in order to help the Node.js community make the important transition to N-API, we are hoping you will be able to work wit

[2017-07-08 23:30] nickdesaulniers commented on #177
Hi Sampson,
Thanks for letting us know about the N-API effort.  Looks like you've already done a bit of porting work, which is cool (though I'm not sure which branch I should be looking at?  I do think napi-wrapper-port is closer to NaN's interface, which is nice).  Thank you for the meeting invite and demo video.  I may take you up on that phone call.  I'm surprised and happy to find this library

[2017-07-11 20:11] reqshark commented on #177
Nice questions @nickdesaulniers! I have a couple too :)

`nodejs/nan` is an active project whose header`#include <nan.h>` supports older versions of node, i.e., it's a consistent way to invoke past v8 function signature flavors embedded across versions.

@sampsongao, my questions:

* What versions of node does N-API support?
* Is there a N-API module with a header to include for older node/v8 vers

[2017-07-13 20:23] sampsongao commented on #177
Sorry for the confusing branch. So the most up todate nanomsg port is under [napi](https://github.com/sampsongao/node-nanomsg/tree/napi) and [node-addon-api](https://github.com/sampsongao/node-nanomsg/tree/node-addon-api). You are welcome to download the code and have a look.

For more details on node-ChakraCore and IBM involvement, you can ask Arunesh and Michael at our weekly [meeting](https://h

[2017-08-17 15:24] mhdawson commented on #177
I'll comment on the IBM involvement.  We've heard from module maintainers that there is pain in having to recompile and possibly make code changes for new versions of Node and are working to help lesson that problem as part of our involvement in the community.

We are also interested in ensuring Node.js can be used in different environments (ranging from small devices to larger servers) and having

[2017-09-30 18:52] nickdesaulniers opened #180 "add support for NN_MAXTTL socket option"
forked from #179
[code]

http://nanomsg.org/v1.0.0/nn_getsockopt.3.html

[2017-10-18 15:30] deepakprabhakara opened #181 "nanomsg 1.1.0 is out"
Can I please request a new release since nanomsg v1.1.0 has just been released.

Regards.
Deepak.

[2017-10-19 02:49] reqshark commented on #181
Hi Deepak, thanks for pointing this out,

definitely need to update, esp. if we hope to expose `NN_TTL` socket option #180

[2017-10-29 22:39] nickdesaulniers commented on #181
https://github.com/nickdesaulniers/node-nanomsg/blob/master/test/mksymbols.rb is broken with the latest release.  Need to be able to run it otherwise tests start failing.

[2017-10-29 22:42] nickdesaulniers commented on #181
a bunch of tests are now triggering warnings:

[code]

[code]
maybe specific to my version of node?

[2017-10-29 22:52] nickdesaulniers commented on #181
deprecation warnings are fixed by using fs.unlinkSync rather than fs.unlink.

[2017-10-29 22:58] nickdesaulniers commented on #181
https://github.com/nanomsg/nanomsg/commit/327a29b1a614131697c4be5da599dcc8368fdf04#diff-3869029c9e50f872a70345a5e53bb9f4 modified the struct so we need to update mksymbols.rb. Working on that now.

[2017-11-04 20:54] nickdesaulniers opened #183 "tests/standalone/term.js is failing"
we should fix this.  I probably regressed this in https://github.com/nickdesaulniers/node-nanomsg/commit/0461f5c20cf83865d22235787e48860e760c7e39.

It's a stupid test, so not high priority.

[2017-11-04 20:57] nickdesaulniers commented on #183
see stack trace in: https://github.com/nanomsg/nanomsg/issues/926#issuecomment-340316253

[2017-11-04 21:06] nickdesaulniers commented on #183
I suspect we're missing a call to [uv_poll_stop.](http://docs.libuv.org/en/v1.x/fs_poll.html#c.uv_fs_poll_stop)

[2017-11-04 21:17] nickdesaulniers commented on #183
if I remove the call to nn_term, the test completes with no aborts.  I suspect that nn_term does something to the socket the libuv doesn't like, resulting in the abort.  I bet we need to do some kind of cleanup before calling nn_abort.

[2017-11-05 03:41] reqshark commented on #183
# nn_term  💣

for when you want to close everything and release all related resources. Possibly it was designed to send things like libuv into chaos... check out nn_term description in the docs:

http://nanomsg.org/v1.1.0/nn_term.html

am I interpreting that intention correctly?

[2017-11-05 04:37] reqshark commented on #183
totally, either that and/or `uv_close()`

because if libuv polls the nanomsg socket for fd events that drive calls to nn_recv/send...

and meanwhile `nn_term` goes and closes that `fd`, it would make sense that the next time libuv goes to poll for events, we're basically passing bogus parameters to the kernel...

there's also a node-nanomsg `pollstop()`that might work if we called it as the first

[2017-11-05 22:10] nickdesaulniers commented on #183
re ipv6: https://docs.travis-ci.com/user/reference/precise/#Networking

Maybe we need to upgrade to trusty? https://docs.travis-ci.com/user/reference/trusty/#Using-Trusty

see also https://github.com/travis-ci/travis-ci/issues/3302

[2017-11-06 00:36] #183 closed

[2017-11-06 00:52] reqshark opened #186 "fix ipv6 test on Travis"
we discovered flakiness around the ipv6 test on Travis in #182.

Let's get to the bottom of it, since it's likely that's just a travis config thing

[2017-11-06 00:56] #181 closed

[2017-11-06 01:21] reqshark opened #187 "remove closed sockets from `globalSocketList`"
the global list was added in #184,

need to let GC cleanup sockets no longer in use by removing them from `globalSocketList`.

[2017-11-06 18:38] reqshark commented on #186
not seeing the IPv6 entry here in our travis ifconfig:

![screen shot 2017-11-06 at 10 35 59 am](https://user-images.githubusercontent.com/937826/32457568-754d4734-c2de-11e7-8f99-7d9c8f5a3fd9.png)

I'll keep messing with the config and see if we can get a box with IPv6

[2017-11-06 21:28] reqshark commented on #186
could enable IPv6 on the travis box with sysctl,

but then we would need to require sudo, which would make tests even slower...

so the better solution is to run the IPv6 test after we spot that interface

[2017-11-07 05:22] nickdesaulniers commented on #180
looks like we got NN_MAXTTL in nanomsg 1.1.0 upgrade: https://github.com/nickdesaulniers/node-nanomsg/commit/db4ce9c464b4cf8aeb76b897c7e67559da549ef3#diff-24ffb94f7602175de6d25f07245886a8R441 @reqshark

[2017-11-07 05:26] nickdesaulniers commented on #146
please reopen if this is still a problem.

[2017-11-07 05:26] #146 closed

[2017-11-07 19:31] #187 closed

[2017-11-07 20:05] reqshark commented on #180
then let's add it to the sockopt api

[2017-11-08 13:56] deepakprabhakara commented on #181
v1.1.2 is out and has a few fixes, so might be worth upgrading to that version.

[2017-11-08 23:10] nickdesaulniers commented on #181
I tested on Linux, so not sure it's necessary.  Maybe some users with an odd/old build of glibc might be affected.

[2017-11-09 16:41] deepakprabhakara commented on #181
@nickdesaulniers Aah v1.1.1 has some fixes that seem relevant - https://github.com/nanomsg/nanomsg/releases/tag/1.1.1 , v1.1.2 just seems to be a complication fix.

[2017-11-09 17:03] reqshark commented on #181
might be nice to first do a release for v1.1.0 and bump major (node-nanomsg 4.0.0)

(still have a couple minor PRs outstanding that need Nick's review)

and then we could push out two more PATCH updates for v1.1.1 and v1.1.2.

What do you guys think?

[2017-11-09 17:05] reqshark commented on #181
also we might not actually be using that code in v1.1.1 since i don't think we're using any of the nanomsg built in polling mechanisms, we're doing our own polling from libuv

[2017-11-15 17:42] #186 closed

[2017-11-17 03:18] #180 closed

[2017-12-04 22:35] reqshark commented on #175
@rosc77 @nickdesaulniers,

hey guys i'm taking a look at this now and verifying our build on windows, sorry it's taken so long, i'll have an update for you guys shortly

[2017-12-05 02:17] reqshark commented on #175
@rosc77 and @nickdesaulniers, i'm glad to confirm this project still works on windows!

BOTH latest version of master and `3.3.0` builds successfully on windows! 🚀

It was too difficult for me to use Visual Studio 2017 alongside `node-gyp` bindings.

Instead, make sure to setup your dev environment correctly on windows for `node-gyp` bindings like nanomsg, which can be tricky. Easiest way to do th

[2017-12-05 02:17] #175 closed

[2017-12-15 14:45] art32 opened #191 "socket.close() does not remove socket file for IPC"
Example:
[code]

Run ```node test.js``` and press ```Ctrl + c```.
push.close() return ```0``` but ```/tmp/server.ipc``` is not deleted and re-run I cant't.

node: 8.9.3
node-nanomsg: 4.0.0
OS X 10.13.1

[2017-12-15 18:19] nickdesaulniers commented on #191
What happens if you `bind` then immediately `close` without waiting for sigint?

[2017-12-16 10:15] art32 commented on #191
Same.

[code]
First run returned ```0```
Second run throw error ```Error: Address already in use```

I check this case on Centos 7 and it is the same behavior.

[2018-01-01 19:17] #191 closed

[2018-01-22 11:04] LionCoder4ever opened #193 "Ubuntu 16.04 REP/REQ Over websockets question"
here is my server code:
[code]

and my front code:
[code]

from the chrome devtools I see the upload msg,but the server client doesn't  console or reply the msg , Is there anything wrong in my code? Hope your help,Best wishes

[2018-01-23 03:55] LionCoder4ever commented on #193
@reqshark could you help me solve the issue?

[2018-01-23 05:01] reqshark commented on #193
hi @LionCoder4ever, yes happy to help

I will look into this tomorrow morning and we'll get to the bottom of it

thanks for your patience :)

[2018-01-24 02:54] reqshark commented on #193
@LionCoder4ever I'm not sure if req/rep protocol works with websockets in the browser.

I was able to receive a `req` message in the browser by changing the server in your example code to req and inserting `req.sp.nanomsg.org` as the argument to the websocket constructor but I wasn't able to receive any further messages

[2018-01-24 07:40] LionCoder4ever commented on #193
@reqshark follow your test, i tried and also can't receive any further messages. Maybe it just not support work in websocket.
Howerver,thanks to your help! Have a nice day!

[2018-01-26 21:08] reqshark commented on #193
btw @LionCoder4ever if you're serious about using nanomsg pub/subs for websocket in the browser, I recommend using [the `wsopt()` socketopt](https://github.com/nickdesaulniers/node-nanomsg#socketwsoptstr)

seems like you already figured out that `pair` and `req/rep` sockets are useless for doing websocket msgs over the browser in nanomsg

and avoid messing with  browser's `FileReader` to decode, b

[2018-01-28 16:06] LionCoder4ever commented on #193
@reqshark thanks for your recommend advice , i solved my problem successfully!
                                                                                                                Best wishes

[2018-03-02 14:51] art32 opened #195 "WebSocket option"
Why *wsopt* can not be installed on a bind socket?
Example:
[code]
And why is the standard value binary?) I think it would be more logical to text.

[2018-03-03 23:20] nickdesaulniers commented on #195
Is that supported by libnanomsg?

I disagree.  It's nice for hello world though.

[2018-03-05 16:04] art32 commented on #195
`Is that supported by libnanomsg?`
Yes.
[code]
it is work.

[2018-08-08 03:15] webbery opened #196 "load DLL fails in electron"
I install nanomsg by command `npm install nanomsg` in windows with vs2015. It builds a static library name nanomsg.lib. When I start electron, I meet an error looks like this:
[code]
My electron version is 2.0.6. Because I can't google more info about that, so I don't know how to solve this problem. Any one help?

[2018-08-11 10:50] reqshark commented on #196
i've had to change electron's ABI version to match nanomsg since it plays around on a different 1

in order to get it to compile.

however, your error looks different than ABI mismatch. Let me investigate and get back on this.

[2018-08-12 00:59] nickdesaulniers commented on #196
Unless I'm mistaken, `dlopen` is for opening dynamic libraries, not static libraries.  I think you need to create a `.dll` of this module, not a `.lib` file.

[2018-08-12 01:59] webbery commented on #196
Yes, I see there is a static lib. But after I build a `.dll` with vs2015, the same error still appear.

[2018-08-12 02:25] reqshark commented on #196
@webbery what version of node are you using?

[2018-08-12 02:47] reqshark commented on #196
probably doesnt matter what version of node you're on,

let's try to trick npm compiler into believe it's building node bindings under a different ABI, just to get the binding's dl library to match the ABI version of electron's bindings.

can you try doing this command after you've got electron `v2.0.7` and did `npm install nanomsg`:

[code]

electron v2.0.7 should be happy with `--abi=59` when th

[2018-08-22 21:30] DrYSG opened #197 "nanomsg on windows"
I know you say it is not been tested on windows. But here is what I get when I try to installl:

(Where does it say one needs python?)

[code]

[2018-08-23 22:17] DrYSG commented on #197
Basically, before hacking, I would not mind knowing if anyone got this to work

[2018-08-24 01:18] reqshark commented on #197
ya it works, install python. I recommend the anaconda version. https://www.anaconda.com/download/

[2018-08-24 16:37] DrYSG commented on #197
@reqshark

Thanks Ben. I did the install, and added the PYTHON env variable, but I am still getting this message:

gyp ERR! stack Error: Can't find Python executable "D:\Program Files (x86)\Python37-32\python.exe", you can set the PYTHON env variable.

It is a system env variable. I also tried just having the directory for the PYTHON, but even though the exe is there, it is not finding it for some

[2018-08-28 20:15] reqshark commented on #197
are you able to install other native bindings?

[2018-08-28 20:18] DrYSG commented on #197
I try not to use node stuff that depends on native bindings. In this case, I can see why it might be needed.

I think my issue is more about how to setup node-gyp for the python path.

https://stackoverflow.com/questions/52042568/node-gyp-cannot-find-python-executable

[2018-08-28 22:07] reqshark commented on #197
yea the issue is unrelated to node-nanomsg

[2018-08-28 22:07] #197 closed

[2018-08-30 13:29] DrYSG commented on #197
@reqshark The issue was that node-gyp only understands Python2.x Perhaps you should add to python to the readme, andtell them that they cannot just have python.exe on the path, but need to add this to the .npmrc

python=D:\Program Files (x86)\Python27\python.exe

or whatever the path is.

[2018-09-01 16:02] reqshark commented on #197
@DrYSG, would you care to make a PR with your note in the readme, like a

### tip for installing on windows:
you may need to set your particular python path in `.npmrc`:
`python=D:\Program Files (x86)\Python27\python.exe`

[2018-09-03 14:00] DrYSG commented on #197
@reqshark I would love to, but our issue is that we do a lot of DOD business, so our firewall keeps me for doing simple things like PRs.

[2018-09-03 21:56] nickdesaulniers commented on #197
I think you can edit readme's entirely from github's web interface.

[2018-09-04 12:39] DrYSG commented on #197
Fork and edit yes, but I don't see an in-place edit.

 BTW @nickdesaulniers , I combined this with Google Flatbuffers and am using the bus protocol. I wrote a trigger/action engine, and in all of less than 4 hours and 50 lines of code, the whole things works. Fantastic. Thank you so much.

[2018-09-05 20:10] DrYSG opened #198 "data not going out for send"
I assume this is newbie issue.

My node-nanomsg class is receiving messages (Google Flatbufers (FB) ) just fine. When I connect to send, my client sees the connection and the tcp socket is bound. However, the does not seem to be starting.

What observe is that in this section: the this_pollSend is called only once on the first invokation of socket.send() but on subsequent calls it is not  being tr

[2018-09-05 20:30] reqshark commented on #198
woah binding AND connecting the same socket?

[code]

you should definitely be able to connect a bunch of different addresses to a socket, but I havent thought to add binds AND connect on the same socket...

I dont know if that's even possible in POSIX given that we're probably just borrowing OS's `int` socket descriptors from kernel courtesy of libnanomsg...

how else would we have direct access

[2018-09-05 20:32] DrYSG commented on #198
It looks the same, but it is the same IP, but a different socket. The sender is at 2018, the receiver is at 2019. Apologies for making that hard to read. The connect is working fine

[2018-09-05 20:33] nickdesaulniers commented on #198
Different ports though.

On Wed, Sep 5, 2018, 1:30 PM Bent Cardan <notifications@github.com> wrote:

[2018-09-05 20:34] nickdesaulniers commented on #198
Oh, need two different socket objects for bind and for connect.

On Wed, Sep 5, 2018, 1:32 PM Dr. YSG <notifications@github.com> wrote:

[2018-09-05 20:39] DrYSG commented on #198
The connect is being done in a separate EXE (C++ using NNG).

This is how I am testing. First I used the C++ exe as a sender, and the nanomsg JS received fine. Now I am going the opposite way, (C++ NNG programs for both send and receive talk fine between each other).

[2018-09-05 20:42] reqshark commented on #198
да ясно

[2018-09-05 20:48] reqshark commented on #198
i thought NNG was a different protocol, you might have to use `nn.h` or libnanomsg, i havent tested

that's interesting that you recv'd a msg from NNG. however that's introducing unnecessarily obscure variables into the mix. I would try nanomsg to nanomsg using SAME/CORRECT socket pattern.

also make sure not to use the `.bind()` and `connect()` calls in the same scope against the same obj

[2018-09-05 20:53] DrYSG commented on #198
I will try that. However, NNG uses the same wire protocol as nanomsg. That is the whole point. I have tested  that with C# nanomsg together with C++ NNG.

I assume you are saying that I could do this with a sock2 which is in the same LMB Class, and doing the same bus connector, but with reverse urls. Right?

[2018-09-05 21:30] reqshark commented on #198
what happens if you rewrite those sockets as a pub/sub instead of BUS?

[2018-09-05 21:50] DrYSG commented on #198
I could try, but what I want in the end is a bus/mesh, so that pub/sub is not going to get me where I need to be.

Would that be the best experiment, or would be tracing where the messages are getting stuck in the queue and not draining. Since I am not seeing traffic with wireshark.

[2018-09-05 21:53] DrYSG commented on #198
Just tried pub/sub, and still no receives.

[code]

[2018-09-05 21:58] DrYSG commented on #198
BTW, the same occurs if I try simple send("hello") messages. The test loop looks like this:

``
function sleep(ms) {
    return new Promise(resolve => {
        setTimeout(resolve, ms)
    })
}

async function sender() {
    tm = new Telemetry()
    await sleep(2000)
    console.log('Sending...')
    let topic = Topics.simActorStateTest
    while (true) {
        payload = tm.build(settings.nodeNa

[2018-09-05 22:03] reqshark commented on #198
ya i would try to keep it simple tho, get rid of those promises/awaits.

it should work fine in your first snippet if you stop calling `.bind()` and `.connect()` together on the same socket object. do either bind or connect--never both.

for example this is a real no no:
[code]

your sock2 is doing the same thing. like make sock1 the connect side and sock2 be the bind side

[2018-09-05 22:09] DrYSG commented on #198
Did both (removed sleeps() and edited out the connects. Still no go.

[code]

[2018-09-05 22:13] reqshark commented on #198
that's better. make sure to allow 100ms before trying to send and receive anything if it's local TCP

that way you give the underlying lib a chance to establish the connections. Its especially longer for TCP across endpoints located further apart.

key take-away here is your msgs won't go anywhere if you call bind and connect on the same socket. the network card was never involved. there's no queu

[2018-09-05 22:18] DrYSG commented on #198
Bus is not the issue. I was missing an await. Now I have a different issue. The data I am putting into the header of the packet (before the payload) is with the wrong endian depending on whether it is from the C++ or Javascript side. That is not your issue. It is mine!

[code]

[code]

[2018-09-06 00:47] DrYSG commented on #198
If the native lib (aka flatbuffers) is being told to send a std::string, using the flabuffers string type does one still need
To null terminate?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-06 01:43] reqshark commented on #198
lol sure, if you're doing C++ strings with `std::string` then you can relax and don't worry about it

Bjarne Stroustrup appends the terminating zero for you

### 🌴

[2018-10-02 04:10] chainhead opened #199 "Install warnings on Ubuntu-18.04"
When installing on Ubuntu-18.04 on AWS, I get the following error messages. Installation is done by

[code]

[code]

BTW, why does installation not go through with a `sudo npm i nanomsg -g`? I get errors on accessing `gyp`.

[2018-10-02 07:28] reqshark commented on #199
you getting errors or just warnings?

are you able to install node-nanomsg?

AWS beanstalk? or is that just a standard ubuntu ec2 AMI on AWS?

no reason to use -g, this module is not intended for that eclectic node global option

[2018-10-09 16:11] DrYSG opened #200 "duplicate receive messages arriving?"
This is very odd. I have a C++ program using  nng Nanomsg (wire protocol is identical to nanomsg).
https://github.com/nanomsg/nng

I have a simple test harness (client.exe and server.exe) using the CPP interface and I only see one copy of a message (sent in over bus protocol). However with this JS package I am getting two copies of each message sent (cpp -> JS node program).

Node Version: 10.9.0

[2018-10-09 17:45] DrYSG commented on #200
It was suggested that I should not be doing both a bind(local) and connect(remote) and that that might be causing two connections to be made. But I am finding that I need both for there to be traffic,.

currently:

local = tcp://127.0.0.1:2019
remote = tcp://127.0.0.1:2018

[2018-11-29 12:17] clearday4 opened #201 "nn_send assert when IPv4only option was disabled, and try to connect with IPv4 address"
I'm testing the PUSH/PULL socket using TCP transport.
If IPv4only option was disabled, and try to connect with IPv4 address,
the destination address resolved AF_INET, but local address which the socket would bind resolved as AF_INET6.
so nn_usock_start makes the socket AF_INET.
after that nn_ctcp_start_connecting() try to bind the local IPv6 address, it was failed.
the local address lookup code is

[2018-11-29 12:31] clearday4 commented on #201
I move this issue to main branch

[2018-11-29 12:31] #201 closed

[2018-12-20 03:22] nullr0ute opened #202 "add support for nng"
nng is the new upstream replacement to nanomsg https://github.com/nanomsg/nng

It would be useful to be able to use either the older nanomsg while providing a migration path to nng

[2019-01-12 02:12] snailuj commented on #202
I don't know enough about the build process to comment, but `nng` has API compatibility with `nanomsg` as one of its core aims, so once the `cmake` change is made there **may** only be a few changes required to the `node-nanomsg` C++ files.

https://nanomsg.github.io/nng/RATIONALE.html

[2019-01-12 04:32] nickdesaulniers commented on #202
I think nng should be a different library than node-nanomsg. It's non
trivial to write nodejs native libraries (C++), and you can't just swap
them out. Nng may be api compatible, but I'll bet it's not abi compatible,
so it's not like it's a drop in replacement for us.

On Fri, Jan 11, 2019, 6:12 PM snailuj <notifications@github.com wrote:

[2019-01-12 19:19] nickdesaulniers commented on #202
If possible, I wonder if we could just provide `.so`, `.dll`, and `.dylib` prebuilt files.  gyp needs to go in the trash bin.

[2019-01-16 00:44] reqshark commented on #202
after looking into NNG a bit more I agree with Nick, we can close this issue/question

### problem 1

a lot of new api plus clearly something there to preserve our current libnanomsg operations:

[code]

https://github.com/nanomsg/nng/blob/master/src/compat/nanomsg/nn.c

Not the real issue! Interface compatibility is like the last hurdle to an nng integration w/ nodejs

### problem 2
this is our r

[2019-01-16 00:44] #202 closed

[2019-03-31 14:25] jonathan-roy opened #203 "Error handling"
Hi,

Is there a way to detect connection/communication errors? For example, it seems like `connect()` should return a negative integer on failure, but the following always return `1`:
[code]

I also tried to listen for errors:
[code]

But it never fires, so what is the proper way to catch connection/communication errors?

[2019-04-06 02:33] reqshark commented on #203
@jonathan-roy, the steam error event is the right way to detect stream errors associated any normal stream communication errors in node. however, when we wrote this module, we never thought to emit connection or other errs from the clib layer correctly (in the idiomatic node way that you're referencing).

I'm open to review a PR request if you would like to take stab at fixing this. You would need

[2019-04-06 02:39] reqshark commented on #203
what exact type of connection error are you trying to detect?

there's no way to detect disconnect.

sometimes Node.JS TCP/HTTP or other TCP libraries will consider an unexpected client disconnect as "connection error". These connection "errors" are deliberately ignored by the library and sockets are designed to gracefully attempt reconnections without surfacing anything like err to application

[2019-04-28 13:20] NasinLin opened #204 "TypeError: Path must be a string. Received undefined"
Hi,
I'm using nanomsg lib to run nodejs is success and then I want to use webpack to build nodejs is ok , but I can't run js after build.

I get error message .

[code]
How can I resolve the error?

[2019-04-29 01:22] nickdesaulniers commented on #204
sounds like you're holding webpack wrong.  How can I reproduce the issue you're observing, as it looks like a failure from webpack, and it's not clear how node-nanomsg is related?

[2019-04-29 01:46] NasinLin commented on #204
This is my webpack.config file

[code]
This is my index file
[code]
When I remove this line "require('nanomsg')" , It's working is fine

[2019-05-07 19:06] bkardell opened #205 "rfc links"
Some of the examples I think point to rawgit urls like https://github.com/nickdesaulniers/node-nanomsg/blob/master/examples/ws/index.html#L11

Should these be updated to point to gh-pages urls?

https://nanomsg.org/rfcs/index.html

[2019-06-25 13:14] alkan opened #206 "Compile error in Node V12.*"
We get the following error while installing the package>

`gyp ERR! build error
gyp ERR! stack Error: `make` failed with exit code: 2
gyp ERR! stack     at ChildProcess.onExit (/home/ayhan/devtools/node-12.4.0/lib/node_modules/npm/node_modules/node-gyp/lib/build.js:262:23)
gyp ERR! stack     at ChildProcess.emit (events.js:200:13)
gyp ERR! stack     at Process.ChildProcess._handle.onexit (internal

[2019-06-25 20:48] nickdesaulniers commented on #206
thanks for the report @alkan . Can you provide the full error logs? Otherwise the report provided just looks like `gyp ERR!` repeated again and again without any meaningful errors with which to go on.

Also, how did you invoke the build?

[2019-06-30 05:03] enjoy05sky commented on #206
Use Vue-Cli install nanomsg4.0.2 .My nodejs version is v12.0.0

``..\src\node_nanomsg.cc(102): error C2664: 'v8::String::Utf8Value::Utf8Value(const v8::String::Utf8Value &)': cannot convert argument 1 from 'v8::Local<v8::Value>' to 'const v8::String::Utf8Value &' [F:\ali-project\Kratos\node_modules\nanomsg\build\node_nanomsg.vcxproj]
  ..\src\node_nanomsg.cc(102): note: Reason: cannot convert from

[2019-06-30 21:50] nickdesaulniers commented on #206
There are 2 errors in @enjoy05sky 's report:

1. 'v8::String::Utf8Value::Utf8Value(const v8::String::Utf8Value &)': cannot convert argument 1 from 'v8::Local<v8::Value>' to 'const v8::String::Utf8Value &' is referring to https://github.com/nickdesaulniers/node-nanomsg/blob/60de923f07e7bee906a0e2a8509278648e163a3c/src/node_nanomsg.cc#L102.
2. 'IsNearDeath': is not a member of 'Nan::Persistent<v8::O

[2019-06-30 23:11] nickdesaulniers commented on #206
Indeed, I just install node 12.5 and can repro on Linux, so this has nothing to do Windows specifically.

[2019-06-30 23:21] nickdesaulniers opened #208 "vulnerable dependencies"
while looking into #206 , I saw this warning from npm:
[code]

[2019-06-30 23:32] nickdesaulniers opened #209 "deprecation warning from Nan::Callback::call"
via `npm install`:
[code]
https://github.com/nodejs/nan/blob/master/doc/node_misc.md#api_nan_make_callback

[2019-06-30 23:35] nickdesaulniers opened #210 "DeprecationWarning: Buffer"
via `npm test`:
[code]

[2019-06-30 23:56] nickdesaulniers commented on #210
as noted in the readme of https://www.npmjs.com/package/buffer-factory, we can't just use `Buffer.from` if we want to keep our tests green for pre-Node v4.  So I think we should add `buffer-factory` as a devDependency then change the tests to use them.

Locally, I have:

[code]
but I think I would prefer the added dev dependency.

[2019-07-01 00:03] nickdesaulniers commented on #210
nvm, buffer-factory has a clear bug in it. prefer: https://www.npmjs.com/package/buffer-from

[2019-07-01 00:27] nickdesaulniers opened #214 "remove package-lock.json from .gitignore"
I'm seeing this when playing around with dependency updates:
[code]
looks like it's in our `.gitignore`. https://github.com/nickdesaulniers/node-nanomsg/blob/60de923f07e7bee906a0e2a8509278648e163a3c/.gitignore#L17

We should remove that and commit this; it's important for package integrity checks.

[2019-07-01 00:29] nickdesaulniers commented on #208
strange, while investigating the initial build failure in https://github.com/nickdesaulniers/node-nanomsg/pull/212, I seem to be unable to repro the audit logs in `tap-difflet` now.  Is my computer haunted? :ghost: (yes)

[2019-07-01 00:35] nickdesaulniers opened #215 "fallthrough warnings in nanomsg"
probably because my system is using a newer compiler, but `npm i` I'm seeing:
[code]

I suspect this has already been reported and fixed upstream, in which case we need to up-rev our dependency.  If it's not reported/fixed upstream, should be straightforward to do so.

[2019-07-01 00:37] nickdesaulniers commented on #215
or we could disable them in https://github.com/nickdesaulniers/node-nanomsg/blob/master/deps/linux.gypi.  Probably should reaudit those flags.

[2019-07-01 00:56] nickdesaulniers commented on #209
Looks like those interfaces are deprecated in favor of ones that additionally pass a `Nan::AsyncResource`.

https://github.com/nodejs/nan/blob/master/doc/callback.md#api_nan_callback
https://github.com/nodejs/nan/blob/master/doc/node_misc.md#api_nan_make_callback

[2019-07-01 01:28] nickdesaulniers commented on #209
so src/node_nanomsg.cc:233 is easy; we already subclass `Nan::AsyncWorker`, so just:
[code]
is necessary. The change for poll_ctx.cc looks more involved, since we hand rolled a bit.

[2019-07-01 01:37] nickdesaulniers opened #216 "are we handling scopes correctly?"
maybe a question for @kkoopa , but reading https://github.com/nodejs/nan#scopes, and seeing the occasional use of `Nan::HandleScope` in https://github.com/nickdesaulniers/node-nanomsg/blob/master/src/node_nanomsg.cc, it made me think that many of our calls to `Nan::new` are not scoped correctly.  I wonder if this leads to leaked memory?

[2019-07-01 01:58] nickdesaulniers commented on #214
we should do this AFTER landing #212 an #213 .

[2019-07-01 10:52] kkoopa commented on #216
Everything looks laright at a glance.

https://github.com/nodejs/nan/blob/master/doc/methods.md#api_nan_method

[2019-07-01 19:47] #210 closed

[2019-07-02 02:38] #208 closed

[2019-07-02 02:38] #215 closed

[2019-07-02 02:42] #206 closed

[2019-07-02 02:43] nickdesaulniers commented on #206
we still need to publish a version with the fix

[2019-07-02 04:01] reqshark commented on #206
done! we just cut`v4.1.0`

[2019-07-04 23:40] #216 closed

[2019-07-10 13:09] jonathan-roy commented on #203
Thank you for your answer @reqshark. Graceful reconnection attempts are a good thing but I think that an optional maximum number of reconnection attempts which, once reached, gives an error, could be interesting. This way, the UI or client can have a clue that something is not correctly working (take as an example an attempt to connect to an unknown host).

[2019-09-03 18:50] #209 closed

[2019-12-09 07:55] NasinLin opened #220 "How do i catch timeout on reqrep?"
I implement reqrep example in nodejs, then set rep parameter sndtimeo/rcvtimeo 50 , but req forever blocking ,how can i do to implement timeout on req?

[2020-05-21 07:36] Talbot3 opened #221 "Carsh When msg send 10K per second"
## Carsh When msg send 10K per second

## Version
node version : v14.2
platfor: macosx
nanomsg

## Error Stack
(llnode) bt
* thread #1, queue = 'com.apple.main-thread', stop reason = EXC_BAD_INSTRUCTION (code=EXC_I386_INVOP, subcode=0x0)
  * frame #0: 0x0000000100f72352 node`v8::base::OS::Abort() + 18
    frame #1: 0x0000000100f6e6c0 node`V8_Fatal(char const*, ...) + 336
    frame #2: 0x0000000100

[2020-05-21 07:39] Talbot3 commented on #221
Here is test code
https://github.com/Talbot3/FlyLab/tree/master/examples/demo-nanomq/pubsub

[2020-05-21 08:04] Talbot3 commented on #221
I found that is on v14.3.0 is good, so close it.

[2020-05-21 08:04] #221 closed

[2020-07-09 19:32] dljsjr opened #222 "Electron compatibility: "Loading non-context-aware native module in renderer""
By default, Electron does not allow you to use Node.js features in renderer processes. But if this is enabled and you attempt to load node-nanomsg you will get the following as an error unless you set `app.allowRendererProcessReuse` to `false`, at which point you still get this as a warning.

https://github.com/electron/electron/issues/18397

[2020-09-04 18:48] reqshark commented on #222
before that flag there was another way to do it, see #196.

electron's generic warning for node bindings seems pretty unrelated to node-nanomsg so gonna mark this issue closed

feel free to reopen for discussion if there's something we can do on our side to make electron happier about the native module context

[2020-09-04 18:48] #222 closed

[2020-11-19 07:36] den1zk opened #223 "node 14.15 compatability"
Hi,
I am having issues after I upgraded my Node version to 14.15 (seems like the issue is related to changes in v8 ArrayBuffer BackingStore API). I am using multiple req sockets and after a few requests I get the following error:

Fatal error in , line 0
Check failed: result.second.

[code]

[2020-11-27 09:08] dnybz opened #224 "(node:660) electron: The default of contextIsolation is deprecated and will be c hanging from false to true in a future release of Electron."
Hi, i am use electron 11.0.3  (Node.js 12.18.3, Chromium 87.0.4280.67, and Electron 11.0.3)

run app errors:

(node:660) electron: The default of contextIsolation is deprecated and will be c
hanging from false to true in a future release of Electron.  See https://github.
com/electron/electron/issues/23506 for more information
(node:13928) Electron: Loading non-context-aware native module in render

[2020-12-04 05:56] #224 closed

[2021-01-20 22:45] vit1251 opened #225 "Double handle scope"
[code]

Why you create two handle scope?

[2022-01-05 05:10] nickdesaulniers commented on #214
fixed in https://github.com/nickdesaulniers/node-nanomsg/commit/87411d4b750008185ad5e34dda7f8f541d96c4b3

[2022-01-05 05:10] #214 closed

[2022-01-05 05:11] nickdesaulniers commented on #223
I suspect this was fixed in e5b1da1ea00cee78049e54d4b573f42e27d28ac6

[2022-01-05 05:11] #223 closed

[2022-06-08 18:30] nickdesaulniers opened #232 "-Wcast-function-type in nodejs/src/node.h"
[code]

[2022-08-11 12:25] Bartel-C8 commented on #224
So @dnybz , how did you solve this?

[2022-08-11 14:18] Bartel-C8 commented on #224
Actually, your solution solved it. I was just rebuilding it wrongly (with yarn rebuild / npm rebuild). But I was using electron-rebuild, which was/should be responsible of rebuilding the native module correctly (with the correct (ABI) version of Electron).

Thanks!